.bloquepresentacion{
    background-color: #175537   ;
    p{
        color: white;
        font-family: recoletaB;
        strong{
            font-family: neueB;
        }
        font-size: 150%;
    }
}