<div class="container-fluid  bloquepresentacion">
    <div class="icono mb-2"><a [routerLink]="''"><img src="../../../assets/IMG/tituloW.png" alt=""></a></div>

    <div class="container contenedor">
        <img class="sticker banana" src="../../../assets/IMG/En Temporada (IES FSL)/Stickers/Purple Banana.png" alt="">
        <img class="sticker deli" src="../../../assets/IMG/En Temporada (IES FSL)/Stickers/Red Diamond.png" alt="">
        <img class="sticker blueban" src="../../../assets/IMG/En Temporada (IES FSL)/Stickers/Blue Banana.png" alt="">
        <img class="sticker cerca" src="../../../assets/IMG/En Temporada (IES FSL)/Stickers/Tropical Pink Oval.png" alt="">
        <p><strong class="margen">En Temporada</strong> es una iniciativa que <br> te ayuda a tomar una
            <strong>decisión consciente </strong> <br>de las frutas <img src="../../../assets/IMG/mandarina.png" alt=""> y verduras <img src="../../../assets/IMG/brocoli.png" alt=""> que consumes.
        </p>
        <p>Te ayudamos a disfrutar de alimentos <br> <strong class="margen">sabrosos </strong>,<br><span class="margen">
                mejores </span> para el <strong>planeta</strong> <br> <span class="margen"> y </span>buenos para tu
            <strong>comunidad local</strong>.
        </p>
    </div>
</div>
