<div class="container-fluid bloquepresentacion">
    <div class="icono mb-2"><a href=""><img src="../../../assets/IMG/tituloW.png" alt=""></a></div>

    <div class="container w-75 p-5">
        <p><strong style="margin-left: 70px;">En Temporada</strong> es una iniciativa que te ayuda a tomar una
            <strong>decisión consciente </strong>de las frutas y verduras que consumes.
        </p>
        <p>Te ayudamos a disfrutar de alimentos <strong>sabrosos </strong>,
            mejores para el <strong>planeta</strong> y buenos para tu <strong>comunidad local</strong>.
        </p>
    </div>
</div>
