<div class="container-fluid bloquepresentacion">
    <div class="icono mb-2"><a [routerLink]="''"><img src="../../../assets/IMG/tituloW.png" alt=""></a></div>

    <div class="container contenedor w-50">
        <p><strong class="margen">En Temporada</strong> es una iniciativa que <br> te ayuda a tomar una
            <strong>decisión consciente </strong> <br>de las frutas y verduras que consumes.
        </p>
        <p>Te ayudamos a disfrutar de alimentos <br> <strong class="margen">sabrosos </strong>,<br><span class="margen">
                mejores </span> para el <strong>planeta</strong> <br> <span class="margen"> y </span>buenos para tu
            <strong>comunidad local</strong>.
        </p>
    </div>
</div>