@import "../../../styles.scss";

.bloquepresentacion{
    background-color: $green   ;
    p{
        color: white;
        font-family: recoletaB;
        strong{
            font-family: neueB;
        }
        font-size: 200%;
    }
}