@import "../../../styles.scss";

.container {
  margin-top: 50px;
  max-width: 90%;
}

.imagen {
  border: none;
  width: 100%;
  height: 200px;
  margin-bottom: 15px;
  border-start-start-radius: 10px;
  border-start-end-radius: 10px;
  background-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  user-select: none;
}

.icono {
  width: 30px;
  user-select: none;
  pointer-events: none;
  margin-right: 5px;
  margin-left: 10px;
  margin-top: 5px;
}

.tarjeta {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 30px;
  background-color: white;
  box-shadow: 0 7px 10px rgba(78, 78, 78, 0.428);
  padding-bottom: 20px;
  border-radius: 10px;
  font-family: neueB;
  transition: 0.3s;
}

.usuario {
  margin-left: 0px;
}

.margen {
  margin-bottom: 40px;
}

.autor {
  margin-bottom: -5px;
}

.save,
.mg {
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  background-position: center;
  width: 40%;
  height: 120%;
  margin-left: 5px;
}

.botones {
  padding: 0;
}

.save {
  background-image: url("../../../assets/IMG/iconos/guardado bonito.png");
  background-size: 40px;
}

.mg {
  background-image: url("../../../assets/IMG/iconos/fav.png");
}

.subir,
.crear {
  position: fixed;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  filter: drop-shadow(0 5px 5px rgba(76, 76, 76, 0.455));
}

.subir {
  right: 3.5%;
  border-radius: 100%;
  bottom: 4%;
  width: 40px;
  height: 40px;
  border: none;
  background-color: white;
  background-image: url("../../../assets/IMG/iconos/arrowUp.png");
  filter: drop-shadow(0 5px 5px rgba(76, 76, 76, 0.632));

  &:hover {
    animation: animFlecha 1.5s infinite;
  }
}

.crear {
  right: 3.5%;
  bottom: 12%;
  border: none;
  width: 40px;
  height: 40px;
  background-color: white;
  margin: auto;
  padding: 0;
  border-radius: 10px;
  transition: 0.5s;

  .img {
    background-image: url("../../../assets/IMG/iconos/plus.png");
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    background-color: $orange;
    border-radius: 7px;
    transition: 0.5s;
  }
  .texto {
    display: none;
  }
  p {
    opacity: 0;
  }
}

.extender {
  width: 200px;
  background-color: white;
  p {
    display: table-cell;
    vertical-align: middle;
    font-family: neueB;
    font-size: 120%;
    letter-spacing: 0.5px;
    animation: aparecer 2s forwards;
  }
  .img {
    border-radius: 7px 0px 0px 7px;
    background-size: 60%;
  }

  .texto {
    display: table;
    padding: 0;
    margin: auto;
  }
}

@keyframes animFlecha {
  0% {
    bottom: 4%;
  }

  50% {
    bottom: 5%;
  }

  100% {
    bottom: 4%;
  }
}

@keyframes aparecer {
  20% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media screen and(max-width: 700px) {
}
