<div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-6 margen" *ngFor="let receta of recetas">
      <div class="tarjeta">
        <button class="imagen" [routerLink]="['/recetaindividual', receta.id]"
          [ngStyle]="{'background-image':'url(/assets/IMG/recetas/'+receta.imagen+')'}"></button>
        <div class="row usuario">
          <div class="col-8">
            <p class="autor">{{receta.titulo}}</p>
          </div>
          <div class="col-4 botones">
            <ng-container *ngIf="receta.estado=='A'; else elseTemplate">
              <button (click)="cambiaLike(receta.id)" class="mg"
                [style.background-image]="clicked[receta.id] ?'url(/assets/IMG/iconos/mg_click.png)':'url(/assets/IMG/iconos/mg.png)'"></button>
              <button (click)="cambiaFav(receta.id)" class="save"
                [style.background-image]="fav[receta.id] ?'url(/assets/IMG/iconos/bookmark_click.png)':'url(/assets/IMG/iconos/bookmark.png)'"></button>
            </ng-container>
            <ng-template #elseTemplate>
              <!-- <div class="pendiente"></div> -->
              <h2>Pendiente</h2>
            </ng-template>

          </div>
        </div>
        <div class="user">
          <a class="icono" style="background-image: url(/assets/IMG/Usuarios/{{receta.usuario?.imagen}});" alt=""></a>
          <sub class="autor">by @{{receta.usuario?.nick}}</sub>
        </div>
      </div>
    </div>
  </div>

  <!-- [style.background-image]="boolLike(receta.id) ?'url(/assets/IMG/iconos/mg_click.png)':'url(/assets/IMG/iconos/mg.png)'" -->


  <div class="btn-group dropdown-user">
    <ng-container *ngIf="sesion; else sinSesion">
      <button [routerLink]="'/creacionRecetas'" (mouseover)="hover=true" (mouseout)="hover=false"
        [ngClass]="{'extender': hover==true}" class="crear row">
        <div [ngClass]="{'col-3': hover==true,'col-12': hover==false}" class=" img"></div>
        <div class="texto col-9">
          <p>Nueva Receta</p>
        </div>
      </button>
    </ng-container>

    <ng-template #sinSesion>
      <button (click)="openDialog()" (mouseover)="hover=true" (mouseout)="hover=false"
        [ngClass]="{'extender_b': hover==true}" class="crear_b row">
        <div [ngClass]="{'col-3': hover==true,'col-12': hover==false}" class=" img"></div>
        <div class="texto col-9">
          <p>Inicia sesion para acceder</p>
        </div>

      </button>
    </ng-template>

  </div>


</div>
