@import "../../../styles.scss";

.container {
  margin-top: 50px;
  max-width: 90em;
}

.imagen {
  border: none;
  width: 100%;
  height: 200px;
  margin-bottom: 15px;
  border-radius: 5px 5px 0px 0px;
  background-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  user-select: none;
  transition: 0.5s;
}

.icono {
  width: 30px;
  user-select: none;
  pointer-events: none;
  margin-right: 5px;
  margin-left: 10px;
  margin-top: 5px;
}

.tarjeta {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 30px;
  background-color: white;
  box-shadow: 0 4px 5px rgba(108, 108, 108, 0.34);
  padding-bottom: 20px;
  border-radius: 5px;
  font-family: neueB;
  transition: 0.3s;
}

.usuario {
  margin-left: 0px;
}

.margen {
  margin-bottom: 40px;
}

.autor {
  margin-bottom: -5px;
}

.save,
.mg {
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  width: 35px;
  height: 35px;
  margin-right: 7px;
  transition: 0.5s;
}

.save {
  background-image: url("../../../assets/IMG/iconos/bookmark_save.png");
  &:hover {
    filter: drop-shadow(0 3px 3px rgb(35, 35, 35));
    transform: scale(110%);
  }
}

.mg {
  background-image: url("../../../assets/IMG/iconos/mg.png");
  &:hover {
    filter: drop-shadow(0 3px 3px rgb(167, 57, 44));
    transform: scale(110%);
  }
}

.crear {
  position: fixed;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  filter: drop-shadow(0 5px 5px rgba(76, 76, 76, 0.455));
  z-index: 100;
  right: 3.5%;
  bottom: 12%;
  border: none;
  width: 40px;
  height: 40px;
  background-color: white;
  margin: auto;
  padding: 0;
  border-radius: 10px;
  transition: 0.5s;

  .img {
    background-image: url("../../../assets/IMG/iconos/plus.png");
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    background-color: $orange;
    border-radius: 7px;
    transition: 0.5s;
  }
  .texto {
    display: none;
  }
  p {
    opacity: 0;
  }
}

.extender {
  width: 200px;
  background-color: white;
  p {
    display: table-cell;
    vertical-align: middle;
    font-family: neueB;
    font-size: 120%;
    letter-spacing: 0.5px;
    animation: aparecer 1.5s forwards;
  }
  .img {
    border-radius: 7px 0px 0px 7px;
    background-size: 60%;
  }

  .texto {
    display: table;
    padding: 0;
    margin: auto;
  }
}

@keyframes animFlecha {
  0% {
    bottom: 4%;
  }

  50% {
    bottom: 5%;
  }

  100% {
    bottom: 4%;
  }
}

@keyframes aparecer {
  25% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media screen and(max-width: 700px) {
  .save {
    background-size: 30px;
  }
}
