@import "../../../styles.scss";

.container {
  margin-top: 50px;
  max-width: 90%;
}
.imagen {
  border: none;
  width: 100%;
  height: 200px;
  margin-bottom: 15px;
  border-start-start-radius: 10px;
  border-start-end-radius: 10px;
  background-color: transparent;
  background-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  user-select: none;
}

.icono {
  width: 30px;
  user-select: none;
  pointer-events: none;
  margin-right: 5px;
  margin-left: 10px;
  margin-top: 5px;
}

.tarjeta {
  margin-left: 10px;
  margin-right: 10px;
  background-color: white;
  box-shadow: 0 7px 10px rgba(78, 78, 78, 0.612);
  padding-bottom: 20px;
  border-radius: 10px;
  font-family: neueB;
  transition: 0.3s;
  &:hover {
    transform: scale(107%);
  }
}

.usuario {
  margin-left: 0px;
}h

.margen {
  margin-bottom: 40px;
}

.autor {
  margin-bottom: -5px;
}

.save,
.mg {
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  background-position: center;
  width: 40%;
  height: 120%;
  margin-left: 5px;
}

.botones {
  padding: 0;
}
.save {
  background-image: url("../../../assets/IMG/iconos/guardado bonito.png");
  background-size: 40px;
}
.mg {
  background-image: url("../../../assets/IMG/iconos/fav.png");
}
.subir,
.crear {
  position: fixed;
  border-radius: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  filter: drop-shadow(0 5px 5px rgba(76, 76, 76, 0.632));
}

.subir {
  bottom: 5%;
  right: 3.5%;
  width: 80px;
  height: 80px;
  border: none;
  background-color: transparent;
  background-image: url("../../../assets/IMG/iconos/arrowUp.png");
  filter: drop-shadow(0 5px 5px rgba(76, 76, 76, 0.632));
  &:hover {
    animation: animFlecha 1.5s infinite;
  }
}

.crear {
  bottom: 20%;
  width: 130px;
  height: 130px;
  right: 1.8%;
  background-color: $orange;
  border: 1px solid white;
  background-size: 80%;
  transition: 0.3s;
  color: white;
  p {
    font-size: 80%;
    font-family: neueB;
    letter-spacing: 0.5px;
  }
  img {
    margin-top: 10px;
    width: 50%;
  }
}

@keyframes animFlecha {
  0% {
    bottom: 5%;
  }
  50% {
    bottom: 7%;
  }
  100% {
    bottom: 5%;
  }
}
