@import "../../../styles.scss";

.contenedor {
    margin: auto;
    margin-top: 4%;
    width: 100%;
    padding-bottom: 2%;
    background-color: white;
    height: 100%;
    .paso {
        margin: auto;
        font-family: "neueR";
        font-size: 120%;
        height: 100%;
        > .columna {
            margin-left: 5%;
            border-bottom: 1px solid rgba(69, 69, 69, 0.605);
        }
        h5 {
            font-size: 150%;
            font-family: neueB;
            margin-top: 2%;
            margin-bottom: 1%;
        }
    }
}
