@import "../../../styles.scss";

.contenedor {
    margin: auto;
    margin-top: 4%;
    width: 90%;
    padding-bottom: 2%;
    background-color: white;
    .paso {
        margin-top: 2%;
        margin-bottom: 2%;
        font-family: "neueR";
        font-size: 120%;
        h5 {
            font-size: 150%;
            font-family: neueB;
            margin-bottom: 1%;
        }
    }
}

.borde {
    border-bottom: 1px solid rgba(69, 69, 69, 0.605);
}
