@import "../../../styles.scss";
.error {
  text-align: left;
  color: red;
  font-family: neueR;
  text-align: center;
}

.row > div {
  margin: auto;
}
.botones{
  padding-top: 12.5%;
}
.explicacion{
  font-family: neueR;

  display: none;
  h5{
    font-size: 115%;
  }

}
.puntos {
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  width: 40px;
  height: 45px;

  margin-right: 0px;
  transition: 0.2s;
}
.puntos {
  margin-left: 0px;
  &:hover {
    filter: drop-shadow(0 3px 3px rgb(255, 145, 0));
    transform: scale(110%);
  }
}
.info {
  background-color: $green;
  font-family: neueB;
  color: white;
  padding-top: 30px;
  padding-bottom: 70px;
}
.progress {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.626);
  height: 30px;
  filter: drop-shadow(0 5px 4px rgba(0, 0, 0, 0.129));
  > div {
    border-radius: 0px 5px 5px 0px;
  }
}
.progress-bar {
  background-color: $orange;
}
//sqsqs
.ocultar{
    display: none;
}
.editarimg{
    width: 30px;
    margin-left: 5px;
    margin-top: -5px;
}
.foto {
  text-align: center;
  input[type="file"] {
    display: none;

  }
  .custom-file-upload {
    border: 2px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    border-radius: 5px;

    cursor: pointer;
    padding: 15px 25px 15px 25px;
    &:hover {
      color: $green;
      background-color: white;

      border: 2px solid $green;
    }
  }
  > .usuario {

    background-color: white;
    border: 2px solid rgba(0, 0, 0, 0.66);
    border-radius: 100%;
    background-image: url("../../../assets/IMG/ejemploUser.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  > .b_usuario {
    border-radius: 100%;
    background-image: url("../../../assets/IMG/Niveles/lvl_5-removebg-preview.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

  }
}

.modificar {
  font-family: neueB;
  color: white;
  background-color: $green;
  border: 2px solid white;
  border-radius: 5px;
  transition: 0.3s;
  width: 100%;

  &:hover {
    color: $green;
    background-color: white;
    border: 2px solid $green;
  }
}

.infouser {
  font-family: neueR;
  word-break: break-all;


}
.textarea {
  max-width:100%;
  max-height:100px;
}
@media screen and(min-width:813px) {
  .usuario {
    margin: auto;
    margin-top: 60px;
    width: 200px;
    height: 200px;
    box-shadow: inset 0 0px 15px rgba(0, 0, 0, 0.734), 0 5px 10px rgba(50, 50, 50, 0.483);
  }
  .b_usuario {
    position: relative;
    margin: auto;
    margin-top: -270px;
    width: 360px;
    height: 360px;
  }

  .chef {
    h4 {
      font-family: neueB;
      font-size: 170%;
      margin-top: 70px;
      //margin-left: 30px;
    }
    > div {
      margin-bottom: 20px;
    }
  }
.explicacion{
  font-family: neueR;

  display: none;
  h5{
    font-size: 115%;
  }

}
.puntos {
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  width: 40px;
  height: 45px;

  margin-right: 0px;
  transition: 0.2s;
}
.puntos {
  margin-left: 0px;
  &:hover {
    filter: drop-shadow(0 3px 3px rgb(255, 145, 0));
    transform: scale(110%);
  }
}
  .modificar {
    margin-top: 30px;
    padding: 15px 25px 15px 25px;
    &:hover {
      color: $green;
      background-color: white;
      border: 2px solid $green;
    }
  }

  .datos {
    .infouser {
      font-family: neueR;
      font-size: 120%;
    }
    input{
      background: #ffffff;
      box-shadow: 0px 4px 4px rgba(32, 32, 32, 0.197), inset 0px 0px 10px rgba(47, 47, 47, 0.299);
      border: 1px solid rgba(30, 30, 30, 0.701);
      border-radius: 5px;
      padding: 5px;
      font-family: neueB;
      font-size: 100%;
      margin-bottom: 2.5%;
    }
    textarea{

      padding: 5px;
      box-shadow: 0px 4px 4px rgba(32, 32, 32, 0.197), inset 0px 0px 10px rgba(47, 47, 47, 0.299);
      border: 1px solid rgba(30, 30, 30, 0.701);
      border-radius: 5px;
      font-family: neueB;
      font-size: 100%;
    }
    .user {
      font-size: 200%;
      margin-top: 50px;
    }

    h4 {
      font-size: 130%;
    }
  }
}

@media screen and(max-width:812px) {
  textarea{
    width: 100%;
  }
  .custom-file-upload {
    margin-bottom: 20%;
    margin-top: -20%;
  }
  .usuario {
    margin: auto;
    width: 200px;
    height: 200px;
    box-shadow: inset 0 0px 15px rgba(0, 0, 0, 0.734), 0 5px 10px rgba(50, 50, 50, 0.483);
  }

  .b_usuario {
    position: relative;
    margin: auto;
    margin-top: -270px;
    width: 360px;
    height: 360px;
  }

  .chef {
    h4 {
      font-family: neueB;
      font-size: 170%;
      margin-top: 80px;
      margin-left: 30px;
    }
    > div {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }

  .modificar {
    padding: 15px 25px 15px 25px;

    &:hover {
      color: $green;
      background-color: white;
      border: 2px solid $green;
    }
  }

  .datos {
    .infouser {
      font-family: neueR;
      font-size: 120%;
    }
    .user {
      font-size: 200%;
      margin-top: -50px;
    }

    h4 {
      font-size: 130%;
    }
  }
}
