<div class="info">
    <div class="container">
      <div class="row">
  
        <div class="col-lg-3 col-md-1 foto">
          <div class="usuario"></div>
          <div class="b_usuario"></div>
          <label class="custom-file-upload">
            <input type="file"id="fotousuario" name="avatar">
            Subir archivo
          </label>
        </div>
  
  
        <div class="col-lg-5 col-md-7 datos">
          <h2 class="user">{{nombreuser | uppercase }}</h2>
          <input  [(ngModel)]="nombreuser" placeholder="name" id ="moduser" type="text" name="texto" maxlength="12">

          <h4>Informacion del usuario: </h4>
          <p class="infouser">{{infouser}}</p>
          <textarea [(ngModel)]="infouser" name="texto" rows="4" cols="60" maxlength="200"></textarea>

        </div>
  
  
        <div class="col-lg-4 col-md-4 derecha">
          <div class="chef row">
            <div class="col-lg-12">
              <h4>Nivel: CHEF</h4>
            </div>
            <div class=" col-lg-12">  
              <div class="progress">
                <div class="progress-bar   progress-bar-striped progress-bar-animated" role="progressbar"
                  aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
              </div>
            </div>
            <div class="col-12 botones">
              <button [routerLink]="'/perfil'"class="modificar">Aceptar cambios</button>
              <button [routerLink]="'/perfil'"class="modificar">Cancelar cambios</button>            
          </div>
        </div>
      </div>
    </div>