<div class="info">
    <div class="container">
      <div class="row">
  
        <div class="col-lg-3 col-md-1 foto">
          <div class="usuario"></div>
          <div class="b_usuario"></div>
        </div>
  
  
        <div class="col-lg-5 col-md-7 datos">
          <h2 class="user">Cecilio G  <img class ="editarimg modcampo"src ="../../../assets/IMG/iconos/editar.png" (click)="ocultarmoduser()"></h2>
          <input id ="moduser" type="text" name="texto">

          <h4>Informacion del usuario: </h4>
          <p class="infouser">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididuntut
            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. </p>
        </div>
  
  
        <div class="col-lg-4 col-md-4 derecha">
          <div class="chef row">
            <div class="col-lg-12">
              <h4>Nivel: CHEF</h4>
            </div>
            <div class=" col-lg-12">
              <div class="progress">
                <div class="progress-bar   progress-bar-striped progress-bar-animated" role="progressbar"
                  aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
              </div>
            </div>
            <div class="col-12">
              <button [routerLink]="'/modperfil'"class="modificar">Aceptar cambios</button>
            </div>
          </div>
        </div>
      </div>
    </div>