@import "../../../styles.scss";

.fondo {
    border-bottom: 1px solid rgba(62, 62, 62, 0.531);
    padding-bottom: 30px;
}

.upload {
    width: 100%;
    margin-bottom: 20px;
    > #img {
        background-image: url("../../../assets/IMG/ensalada.jpg");
        background-size: cover;
        height: 330px;
        width: 100%;
        background-color: white;
        border-radius: 5px;
        box-shadow: inset 0 0 25px rgba(99, 99, 99, 0.837), 0 5px 10px rgba(93, 93, 93, 0.68);
        background-repeat: no-repeat;
        background-position: center;
        background-color: transparent;
        border: none;
    }
}

.nombre {
    * {
        vertical-align: middle;
    }
    .icono img {
        height: 40px;
    }
    h3 {
        word-wrap: break-word;
        font-family: recoletaB;
        padding: 10px;
    }
    sub {
        font-family: neueB;
        font-size: 110%;
        margin-left: 5px;
    }
    button {
        padding: 20px;
        border: 1px solid black;
    }
    .save,
    .mg {
        background-color: transparent;
        border: none;
        width: 100%;
        height: 100%;
        padding: 0;
        img {
            width: 80%;
            text-align: center;
        }
    }
}

.datosfondo {
    color: black;
    font-family: neueR;
    margin: auto;
    background-color: $yellow;
    width: 95%;
    height: 100%;
    border-radius: 5px;
    box-shadow: inset 0 0px 5px rgba(0, 0, 0, 0.428);

    .filadatos {
        margin: auto;
        border-bottom: 1px solid rgba(64, 64, 64, 0.551);
    }

    .columna {
        &:not(:last-of-type) {
            border-right: 1px solid rgba(64, 64, 64, 0.551);
        }

        padding: 5px;
        span {
            word-wrap: break-word;
            vertical-align: middle !important;
        }

        .campo {
            text-align: center;
            margin-top: 20px;
            margin-bottom: 15px;
            .icono {
                user-select: none;
                pointer-events: none;
                height: 30px;
                margin-right: 5px;
                filter: drop-shadow(0 4px 2px rgba(50, 50, 50, 0.463));
            }
            > span {
                font-family: neueB;
                font-size: 110%;
            }
        }
    }
}

.ingredientes {
    padding: 30px;
    h3 {
        color: black;
        font-family: recoletaB;
    }

    .columnas {
        height: 270px;
        overflow-y: scroll;

        &::-webkit-scrollbar {
            width: 10px;
        }
        &::-webkit-scrollbar-track {
            border-radius: 10px;
        }
        &::-webkit-scrollbar-thumb {
            background: $grey;
            border-radius: 10px;
        }
    }

    .lista {
        font-family: neueR;
        font-weight: 600;
        font-size: 120%;
        width: 100%;
        .elemento {
            padding: 0px 10px 0px 5px;
            margin: 5px 0px 5px 5px;
            overflow-wrap: break-word;
            filter: drop-shadow(0 4px 3px rgba(76, 76, 76, 0.381));
        }
    }
    span,
    button {
        width: 100%;
        vertical-align: middle !important;
    }
    img {
        width: 30px;
        pointer-events: none;
        user-select: none;
        cursor: pointer;
    }
}
@media screen and(max-width: 700px) {
    .col-md-5{
        .upload{
            #img {
                width: 100%;
                height: 270px;
            }
        }
        .nombre{
            h3{
                font-size: 150%;
            }
            .row{
                font-size: 90%;
            }
        }
        padding-bottom: 5%;
    }
        .filadatos{
            font-size:85%;
        }
        .ingredientes{
            h3{
                font-size: 135%;
            }
            .columnas{
                font-size: 85%;
            }
          
        }
    


}