<div class="container detalles">
    <table class ="arriba">
        <tr>
            <td>
                <span>8 comensales</span>
            </td>
            <td>
                <span>1h</span>
            </td>
            <td>
                <span>Postre</span>
            </td>
            <td>
                <span>Dificultad Media</span>
            </td>
        </tr>
      
    </table>
        
    <div class="ingredientes">
        <h5>
            INGREDIENTES:
        </h5>
        <div class="row">
        
            <div class="col">
                <ul>
                    <li>
                        lalalalalall 
                    </li>
                    <li>
                        lalalalalall 
                    </li>
                    <li>
                        lalalalalall 
                    </li>
                    <li>
                        lalalalalall 
                    </li>
                </ul>
            </div>
            <div class="col">
                <ul>
                    <li>
                        lalalalalalllalalaal
                    </li>
                    <li>
                        lalalalalall 
                    </li>
                    <li>
                        lalalalalall 
                    </li>
                    <li>
                        lalalalalall 
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
