<div class="row">
  <div [routerLink]="['/entradas-misentradas']" class="col col-lg-3 col-md-6">
    <button class="green">
      <h4>{{totalentradas}}</h4>
      <p> Entradas publicadas</p>
    </button>
  </div>

  <div [routerLink]="['/entradas-guardadas']" class="col col-lg-3 col-md-6">
    <button class="green">
      <h4>{{totalguardadas}}</h4>
      <p>Entradas guardadas</p>
    </button>
  </div>

  <div class="col col-lg-3 col-md-6">
    <button class="white">
      <h4>{{totallikes}}</h4>
      <p> Likes recibidos</p>
    </button>
  </div>

  <div class="col col-lg-3 col-md-6">
    <button class="white">
      <h4>{{totalfavoritos}}</h4>
      <p>Entradas favoritas</p>
    </button>
  </div>
</div>
