@import "../../styles.scss";

.card {
  background-color: $beige;
  border: none;
  margin: auto;

  img {
    margin: auto;
  }
}

.card-title {
  font-family: recoletaB;
  font-size: 180%;
}

.card-body {
  font-family: neueR;
}

.card-img-top {
  width: 100%;
  height: 450px;
  border-radius: 20px;
}

$cards-per-line: (xs: 1,
  sm: 2, );
