<div class="container top-megabuffer">
  <div class="row">

    <div class="card col-sm-6">
      <img class="card-img-top img-rounded" src="../../assets/IMG/calendario.png" alt="">
      <div class="card-body">
        <h4 class="card-title">Calendario</h4>
        <p class="card-text">Ver cuando todas las frutas y verduras están en temporada</p>
      </div>
    </div>

    <div class="card col-sm-6">
      <img class="card-img-top img-rounded" src="../../assets/IMG/sobreelproyecto.png">
      <div class="card-body carta">
        <h4 class="card-title">Sobre el proyecto</h4>
        <p class="card-text">¿Qué es En Temporada y por qué hacemos esto?</p>
      </div>
    </div>
  </div>
</div>