<div class="ventana">
    <h1 class="titulo" mat-dialog-title>INICIAR SESION</h1>
    <mat-dialog-content class="contenedor">
        <label class="campos">
            <h3>Usuario</h3>
            <input type="text">
        </label>
        <br>
        <label class="campos">
            <h3>Contraseña</h3>
            <input type="text">
        </label>
    </mat-dialog-content>
    <mat-dialog-actions class="boton">
        <button class="acceder" [mat-dialog-close]="">Acceder</button>
    </mat-dialog-actions>
</div>