@import "../../../styles.scss";
.cantcomentarios{
  width: 28%;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2.5%;
  padding: 0%;
  border-bottom: 3px solid black;

}
.error {
  text-align: left;
  color: red;
  font-family: neueR;
  text-align: center;
  margin-top: 5px;
  font-family: 80%;
}
.numerocomments{
  text-align: center;
  font-size: 135%;
  font-family: neueB;
}
.popover{
  border-radius: 25px 0px 25px 0px;
  -moz-border-radius: 25px 0px 25px 0px;
  -webkit-border-radius: 25px 0px 25px 0px;
  border: 2px solid rgb(219, 219, 219);
  background-color: rgb(255, 255, 255);
  color: black;
  width: 200px;
  position: relative;
  display: none;
  height: 140px;
  position: absolute;
  overflow-y: auto;
  font-family: "neueR";
  p{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px ;
  }
  .headerpopover{

    background-color: rgb(219, 219, 219);
    border-bottom: 1px groove black;

    h5{
      font-size: 120%;
      font-family: "neueB";
      padding: 10px;
      padding-bottom: 0;
    }
  }
}

.seccion{
  background-color: aqua;
}
.comentario{
  border-radius: 35px 0px 35px 0px;
-moz-border-radius: 35px 0px 35px 0px;
-webkit-border-radius: 35px 0px 35px 0px;

  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2.5%;
  border: 2px $green solid;

  .textocomentario{
    margin-top: 10px;
    text-align: justify;
    max-height: 125px;
    overflow-y: auto;
    p{
      padding:5px ;
      padding-left:15px ;
      padding-right:15px ;
      font-family: "recoletaR";
      font-size: 110%;

    }
  }
}
.headercomentario{
  *{
    vertical-align: middle;
  }
  background-color: $green;
  padding: 5px;
  padding-left:15px ;
  color: white;
  border-radius: 30px 0px 0px 0px;


}
.icono {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 40px;
  width: 40px;
  display: inline-block;
  border-radius: 100%;
  margin-right: 5px;
  //margin-left: 10px;
  margin-top: 5px;
  user-select: none;
}
.autor, .fecha, .guion, .enrespuesta {
  margin-bottom: -5px;
  font-size: 105%;
  font-family: neueB;
}
.guion{
  margin-left: 7.5px;
  margin-right: 7.5px;
}
.enrespuesta{
  text-align: right;
  position: relative;
  bottom: 29px;
  //bottom: 50px;
 // transform: translateX(2000px);
}

.subcomentario{
  border-radius: 35px 0px 35px 0px;
  -moz-border-radius: 35px 0px 35px 0px;
  -webkit-border-radius: 35px 0px 35px 0px;
  width: 87.5%;
  margin-left: auto;
  margin-right: 2.5%;
  margin-bottom: 2.5%;
  border: 2px $green solid;
  .headercomentario{
    background-color: $green;
    padding-right:15px ;
    max-height: 55px;
    border-radius: 30px 0px 0px 0px;

  }
  .textocomentario{
    margin-top: 10px;
    text-align: justify;
    max-height: 125px;
    overflow-y: auto;
     p{
      padding:5px ;
      padding-left:15px ;
      padding-right:15px ;
      font-family: "recoletaR";
      font-size: 110%;

    }
  }
}
.botones{
  padding: 5px;
  padding-left:15px ;

  margin-top: 0.5%;
  text-align: left;

  .btn{
   border-color: $green;
  }
  .btn:hover{
    background-color: $green;
   }
  .numerolikes{
    font-size: 75%;
    margin-right: 5px;
  }
  .textresponder{
    font-size: 90%;
    margin-right: 5px;
    margin-left: 3px;

  }
}
.mg,
.puntos,
.resp {
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  width: 30px;
  height: 30px;
  margin-right: 0px;
  transition: 0.2s;
}
.resp{
  height: 29px;
  &:hover {
    filter: drop-shadow(0 3px 3px rgb(35, 35, 35));
    transform: scale(110%);
  }
}
.mg {
  &:hover {
    filter: drop-shadow(0 3px 3px rgb(167, 57, 44));
    transform: scale(110%);
  }
}
.puntos {
  margin-left: 10px;
  &:hover {
    filter: drop-shadow(0 3px 3px rgb(167, 57, 44));
    transform: scale(110%);
  }
}

.comentarioasubir{
  border: 2px #175537b2 solid;
  .textocomentario{
    overflow: hidden;

  }
  textarea{
    width: 98%;
    margin-left: 12.5px;
    margin-right: 12.5px;
    min-height: 100px;
    max-height: 100px;
    padding: 10px;
  }
  .headercomentario{
    background-color: #175537b2 ;
  }
}

.subcomentarioasubir{
  display: none;
}

