p {
  font-family: neueB;
}

h2 {
  font-family: neueB;
}

.margen {
  margin-left: 1.3em;
}

.descripcion {
  width: 90%;
  padding-bottom: 20px;
}
<<<<<<< HEAD
.rad{
    border-radius: 10px;
    border:1px solid black;
    .derecha{
        width: 1.5em;
        float: right;
    }
    .derechamg{
        width: 1.9em;
        float: right;
    }
    img{
        border-radius: 10px;
        width: 400px;
        margin: auto;
        margin-top: 5%;
    }
    h5{
        font-family: neueB;  
        img{
            width: 2em;
            margin-right: 0.5em;
          
            
        }
=======

.rad {
  border-radius: 5px;
  border: 1px solid black;

  .derecha {
    width: 1.5em;
    float: right;
  }

  .derechamg {
    width: 1.9em;
    float: right;
  }

  img {
    border-radius: 5px;
    width: 93%;
    margin: auto;
    margin-top: 3%;
  }

  h5 {
    font-family: neueB;

    img {
      width: 2em;
      margin-right: 0.5em;
>>>>>>> e40220ac6d02b557748f699b8da2088f89b0407b
    }
  }
}

.creador {
  margin-top: -2em;
  margin-left: 3.2em;
}
