<div class="container">
  <div class="row">
    <div class="col-4 margen" *ngFor="let receta of recetas">
      <div class="tarjeta">
        <button class="imagen" [ngStyle]="{'background-image':'url(../../../assets/IMG/'+receta.img+')'}"></button>
        <div class="row usuario">
          <div class="col-9">
            <p class="autor">{{receta.titulo}}</p>
          </div>
          <div class="col-2 botones">
            <button class="mg"></button>
            <button class="save"></button>
          </div>
        </div>
        <div>
          <img class="icono" src="../../../assets/IMG/iconos/icono.png">
          <sub class="autor">by @{{receta.autor}}</sub>
        </div>
      </div>
    </div>
  </div>
</div>