<div class="container descripcion">
<h2>Recetas relacionadas: </h2>
<div class="card-deck">
    <div class="card rad">
      <img class="card-img-top" src="../../../assets/IMG/banana.jpg" alt="Card image cap">
      <div class="card-body">
        <img class="derechamg" src="../../../assets/IMG/mg.png">
        <img class="derecha" src="../../../assets/IMG/guardado.png">
        <h5 class="card-title"><img src="../../../assets/IMG/icono.png" alt="">Banana Split</h5>
        <p class="card-text creador">By @adrimigo</p>
       
      </div>
    </div>
    <div class="card rad">
        <img class="card-img-top" src="../../../assets/IMG/banana.jpg" alt="Card image cap">
        <div class="card-body">
            <img class="derechamg" src="../../../assets/IMG/mg.png">
            <img class="derecha" src="../../../assets/IMG/guardado.png">
          <h5 class="card-title"><img src="../../../assets/IMG/icono.png" alt="">Banana Split</h5>
          <p class="card-text creador">By @adrimigo</p>
        </div>
      </div>

      <div class="card rad">
        <img class="card-img-top" src="../../../assets/IMG/banana.jpg" alt="Card image cap">
        <div class="card-body">
            <img class="derechamg" src="../../../assets/IMG/mg.png">
            <img class="derecha" src="../../../assets/IMG/guardado.png">
          <h5 class="card-title"><img src="../../../assets/IMG/icono.png" alt="">Banana Split</h5>
          <p class="card-text creador">By @adrimigo</p>
        </div>
      </div>
  

  </div>
</div>