<div class="container top-megabuffer">
  <div class="row">


    <div class="card col-sm-6">
      <img class="card-img-top img-rounded" src="../../../assets/IMG/imagenes footer/calendario.png" alt="">
      <div class="card-body">
        <h4 class="card-title">Calendario</h4>
        <p class="card-text">Ver cuando todas las frutas y verduras están en temporada</p>
      </div>
      <img class="sticker-mid" src="../../../assets/IMG/En Temporada (IES FSL)/Stickers/Flavor Leaf.png" alt="">
    </div>


    <div class="card col-sm-6">
      <img class="card-img-top img-rounded" src="../../../assets/IMG/imagenes footer/aboutus.png">
      <div class="card-body carta">
        <h2 class="card-title">Sobre el proyecto</h2>
        <p class="card-text">¿Qué es En Temporada y por qué hacemos esto?</p>
      </div>
      <img class="sticker-right" src="../../../assets/IMG/En Temporada (IES FSL)/Stickers/Real White.png" alt="">
    </div>
  </div>
</div>
