@import "../../../styles.scss";

.card {
  background-color: $beige;
  border: none;
  margin: auto;
  cursor: pointer;

  img {
    width: 100%;
    margin: auto;
    z-index: 1;
  }
}

.card-title {
  font-family: recoletaB;
  font-size: 250% !important;
}

.card-text {
  font-family: neueR;
  font-size: 125% !important;
}

.top-megabuffer {
  margin-top: 200px;
}

.card-img-top {
  width: 700px;
}

$cards-per-line: (xs: 1,
  sm: 2,
);

.sticker-left {
  width: 200px !important;
  transform: rotate(-20deg);
  position: absolute;
  margin-left: 35% !important;
  margin-top: -20% !important;
  top: 25px;
  left: 25px;
  z-index: 2 !important;
}

.sticker-mid {
  width: 190px !important;
  transform: rotate(20deg);
  position: absolute;
  top: 310px;
  left: 660px;
  z-index: 2 !important;
}
