@import "../../../styles.scss";

.card {
  background-color: transparent;
  margin: auto;
  border: none;
  height: 400px;
  img {
    width: 100%;
    border-radius: 15px;
    margin: auto;
    z-index: 1;
  }
}

.card-title {
  font-family: recoletaB;
  font-size: 250% !important;
}

.card-text {
  font-family: neueR;
  font-size: 125% !important;
}

.top-megabuffer {
  margin-top: 200px;
  margin-bottom: 200px;
}

.card-img-top {
  width: 100%;
  cursor: pointer;
}

$cards-per-line: (
  xs: 1,
  sm: 2,
);

.sticker-left {
  width: 150px !important;
  transform: rotate(-20deg);
  position: absolute;
  margin-left: 35% !important;
  margin-top: -15% !important;
  top: 25px;
  left: 25px;
  z-index: 2 !important;
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.219));
}

.sticker-mid {
  width: 150px !important;
  transform: rotate(20deg);
  position: absolute;
  top: 330px;
  left: 680px;
  z-index: 2 !important;
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.219));
}

.sticker-right {
  width: 150px !important;
  transform: rotate(10deg);
  position: absolute;
  top: 35px;
  left: 710px;
  z-index: 2 !important;
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.219));
}

.sticker-mid2 {
  width: 150px !important;
  transform: rotate(20deg);
  position: absolute;
  top: 320px;
  left: 650px;
  z-index: 2 !important;
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.219));
}

.cerca,
.naranjaNegra {
  display: none;
}

@media screen and(max-width: 900px) {
  .sticker {
    display: none;
  }

  .naranjaNegra {
    transform: rotate(-10deg);
    top: -40px;
    left: -15px;
    display: block;
    z-index: 2 !important;
    position: absolute;
    width: 70px !important;
  }

  .cerca {
    transform: rotate(15deg);
    display: block;
    z-index: 2 !important;
    position: absolute;
    width: 70px !important;
    top: -50px;
    left: 310px;
  }
}
