<div class="container top-megabuffer">
  <div class="row">

    <div class="card col-sm-6">
      <a [routerLink]="[micard.destinoL]">
        <img class="card-img-top img-rounded" src="{{micard.imgcardL}}">
      </a>

      <img class="sticker sticker-left" src="{{micard.stickerL}}" alt="">

      <div class="card-body">
        <h4 class="card-title">{{micard.headL}}</h4>
        <p class="card-text">{{micard.textL}}</p>
      </div>

      <img class="sticker sticker-mid" src="{{micard.stickerM}}" alt="">

      <img src="../../../assets/IMG/En Temporada (IES FSL)/Stickers/Black Orange.png" alt=""
        class="naranjaNegra sticker">
    </div>

    <div class="card col-sm-6">
      <a [routerLink]="[micard.destinoR]">
        <img class="card-img-top img-rounded" src="{{micard.imgcardR}}">
      </a>

      <img class="sticker sticker-right" src="{{micard.stickerR}}" alt="">

      <div class="card-body">
        <h4 class="card-title">{{micard.headR}}</h4>
        <p class="card-text">{{micard.textR}}</p>
      </div>

      <img src="../../../assets/IMG/En Temporada (IES FSL)/Stickers/Tropical Pink Oval.png" alt=""
        class="cerca sticker">
    </div>


  </div>
</div>