@import "../../../styles.scss";

::ng-deep nav {
  background-color: $grey;

  a {
    color: white !important;
  }

  .boton {
    a {
      color: black !important;
    }
  }
}

::ng-deep .navbar-toggler {
  color: white !important;
}
.fondo{
  background-color: white;
  width: 90%;
  height: 750px;
  padding-top: 2.5%;
}