<ng-container *ngIf="articulo; else elseTemplate">
    <app-barra [color]="'green'"></app-barra>
    <div class="container fondo mt-5">
        <app-datosproducto [articulo]="articulo"></app-datosproducto>
        <app-descripcion [descripcion]="articulo?.descripcion ?? ''"></app-descripcion>
        <br>
        <app-relacionadas *ngIf="articulo.relacionadas && articulo.relacionadas.length>0"
            [recetas]="articulo?.relacionadas"></app-relacionadas>
    </div>

    <app-footer></app-footer>
    <app-subir></app-subir>
</ng-container>
<ng-template #elseTemplate>
    <app-carga></app-carga>
</ng-template>