@import "../../../styles.scss";


.icono {
    margin: auto;
    vertical-align: middle;
<<<<<<< HEAD
=======

>>>>>>> a31777ce620361c4bf6c08595b1af0ccdd02080f
    img {
        text-align: center;
        width: 80px;
    }
  }

  .dropdown-user {
    * {
      color: black;
      text-decoration: none;
    }
    img {
      height: 30px;
    }
  
    .boton {
      text-align: center !important;
      border: none;
      border-radius: 15px;
      background-color: $yellow;
    }
  }