<div class="frutas container mt-5">
  <h2><strong>Frutas</strong> en Mayo</h2>
  <div class="card-deck">
    <div class="row row-cols-4">
      <ul *ngFor="let articulo of frutas">
        <li *ngIf="articulo.tipo=='F'">
          <div class="col-3">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top"
                src="https://th.bing.com/th/id/R.e6adefe7493598711a6b3f63c812c87e?rik=dSI6cE3a4wTnNQ&riu=http%3a%2f%2fwww.pngmart.com%2ffiles%2f8%2fMango-PNG-HD-Photo.png&ehk=GtDeL%2bf%2bD1D3moRVwNYsmCdjDyWe7uxAY6Wv%2f85kvtI%3d&risl=1&pid=ImgRaw&r=0"
                alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">{{articulo.nombre}}</h5>

              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>


<!-- SECCION DE VERDURAS-->
<div class="frutas container mt-5">
  <h2><strong>Verduras</strong> en Mayo</h2>
  <div class="card-deck">
    <div class="row row-cols-4">
      <ul *ngFor="let articulo of verduras">
        <li *ngIf="articulo.tipo=='V'">
          <div class="col-3">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top"
                src="https://th.bing.com/th/id/R.e6adefe7493598711a6b3f63c812c87e?rik=dSI6cE3a4wTnNQ&riu=http%3a%2f%2fwww.pngmart.com%2ffiles%2f8%2fMango-PNG-HD-Photo.png&ehk=GtDeL%2bf%2bD1D3moRVwNYsmCdjDyWe7uxAY6Wv%2f85kvtI%3d&risl=1&pid=ImgRaw&r=0"
                alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">{{articulo.nombre}}</h5>

              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
