@import "../../styles.scss";

* {
  font-family: neueB;
}

li {
  list-style: none;
}

h2 {
  text-align: center;
}
.contenedor {
  border: 1px solid black;
  margin: auto;
  width: 90vw;
}

.articulo {
  margin: auto;
  margin-bottom: 20px;
  border-radius: 20px;
  border: none;
  img {
    width: 170px;
    margin: auto;
  }
  .card {
    margin: 20px;
  }
}
