<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-12 margen izq">
      <div class="tarjeta">
        <div class="titulo">
          <p>
            Última receta visitada
          </p>
        </div>
        <button class="imagen" [routerLink]="['/recetaindividual', ultimareceta?.id]"
          style="background-image:url(/assets/IMG/recetas/{{ultimareceta?.imagen}})">
        </button>
        <div class="row usuario">
          <div class="col-9">
            <p class="nombre">{{ultimareceta?.titulo}}</p>
          </div>
        </div>
        <div class="user row">
          <div class="col-2">
            <div class="icono" style="background-image:url(/assets/IMG/Usuarios/{{ultimareceta?.usuario_img}})"></div>
          </div>
          <div class="col-6">
            <sub class="autor"><br>by @{{ultimareceta?.nick}}</sub>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-6 col-md-12 margen der">
      <div class="tarjeta">
        <div class="titulo">
          <p>
            Receta más popular
          </p>
        </div>
        <button class="imagen" [routerLink]="['/recetaindividual', recetapopular?.id]"
          style="background-image:url(/assets/IMG/recetas/{{recetapopular?.imagen}})">
        </button>
        <div class="row usuario">
          <div class="col-9">
            <p class="nombre">{{recetapopular?.titulo}}</p>
          </div>
        </div>
        <div class="user row">
          <div class="col-2">
            <div class="icono" style="background-image:url(/assets/IMG/Usuarios/{{recetapopular?.usuario_img}})"></div>
          </div>
          <div class="col-6">
            <sub class="autor"><br>by {{recetapopular?.nick}}</sub>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>