<div class="container">
  <div class="row">
    <div class="col-md-6 col-sm-12 margen izq">
      <div class="tarjeta">
        <div class="titulo">
          <p>
          Última receta visitada
        </p>
        </div>
        <button class="imagen" [ngStyle]="{'background-image':'url(../../../assets/IMG/'+'tartaManzana'+'.jpg)'}"></button>
        <div class="row usuario">
          <div class="col-9">
            <p class="autor">Tarta de manzana</p>
          </div>
          <div class="col-2 botones">
            <button class="mg"></button>
            <button class="save"></button>
          </div>
        </div>
        <div class="user">
          <img class="icono" src="../../../assets/IMG/iconos/icono.png">
          <sub class="autor">by @adrimigo</sub>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-12 margen der">
      <div class="tarjeta">
        <div class="titulo">
          <p>
          Receta más popular
        </p>
        <button class="imagen" [ngStyle]="{'background-image':'url(../../../assets/IMG/'+'risotto'+'.jpg)'}"></button>
        <div class="row usuario">
          <div class="col-9">
            <p class="autor">Risotto</p>
          </div>
          <div class="col-2 botones">
            <button class="mg"></button>
            <button class="save"></button>
          </div>
        </div>
        <div class="user">
          <img class="icono" src="../../../assets/IMG/iconos/icono.png">
          <sub class="autor">by @pepito</sub>
        </div>
      </div>
    </div>
  </div>
</div>
