<div class="container">
  <div class="row">
    <div class="col-md-6 col-sm-12 margen izq">
      <div class="tarjeta">
        <div class="titulo">
          <p>
            Última receta visitada
          </p>
        </div>
        <button class="imagen" [ngStyle]="{'background-image':'url(../../../assets/IMG/'+'tartaManzana'+'.jpg)'}">
        </button>
        <div class="row usuario">
          <div class="col-9">
            <p class="nombre">Tarta de manzana</p>
          </div>
        </div>
        <div class="user row">
          <div class="col-2">
            <div class="icono"></div>
          </div>
          <div class="col-6">
            <sub class="autor"><br>by @adrimigo</sub>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-12 margen der">
      <div class="tarjeta">
        <div class="titulo">
          <p>
            Receta más popular
          </p>
          <button class="imagen" [ngStyle]="{'background-image':'url(../../../assets/IMG/'+'risotto'+'.jpg)'}"></button>
          <div class="row usuario">
            <div class="col-9">
              <p class="nombre">Risotto</p>
            </div>
          </div>
          <div class="user row">
            <div class="col-2">
              <div class="icono"></div>
            </div>
            <div class="col-6">
              <sub class="autor"><br>by @adrimigo</sub>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>