@import "../../../styles.scss";

.titulo {
    text-align: center;
    margin: 2%;
    font-family: "recoletaB";
    font-size: 230%;
}
.elemento {
    margin: auto;
    margin-bottom: 80px;
    padding-bottom: 30px;
    width: 75%;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(148, 148, 148, 0.85);
    h4 {
        background-color: $grey;
        color: white;
        padding: 10px;
        border-radius: 5px 5px 0 0;
        font-family: "recoletaB";
        text-align: center;
        width: 100%;
        font-size: 200%;
    }
    .row {
        margin: auto;
        width: 90%;
        padding-top: 30px;
        * {
            vertical-align: middle !important;
        }

        .nombre {
            margin-left: 3%;
            font-family: neueB;
        }
        .campo {
            height: 40px;
            width: 90%;
            background: #ffffff;
            box-shadow: 0px 4px 4px rgba(52, 52, 52, 0.197), inset 0px 0px 10px rgba(69, 69, 69, 0.299);
            border: 1px solid rgba(30, 30, 30, 0.701);
            border-radius: 5px;
        }

        .icono {
            background-repeat: no-repeat;
            background-size: 80%;
            background-position: center;
            border: none;
            border-right: 1px solid rgba(30, 30, 30, 0.701);
            background-color: $yellow;
            border-radius: 5px 0px 0px 5px;
            user-select: none;
            height: 100%;
            width: 9%;
            float: left;
            margin: auto;
            box-shadow: inset 0px 0px 10px rgba(84, 84, 84, 0.204);
        }

        input {
            font-family: neueR;
            margin-left: 1%;
            height: 100%;
            width: 90%;
            border: none;
            background: none;
            outline: none;
        }
    }
}

.nombreUser {
    background-image: url("../../../assets/IMG/iconos/icononombreuser.png");
}
.correo {
    background-image: url("../../../assets/IMG/iconos/correoicono.png");
}

.contra {
    background-image: url("../../../assets/IMG/iconos/contraseñaicono.png");
}
.repContra {
    background-image: url("../../../assets/IMG/iconos/repecontraicono.png");
}
