<h2 class="titulo">
    REGISTRO DE USUARIO
</h2>
<div class="container">
    <div class="elemento">
        <h4>Datos login</h4>

        <div class="row">
            <div class="col-6">
                <label class="w-100">
                    <h5 class="nombre">Nombre de Usuario</h5>
                    <div class="campo">
                        <div class="icono nombreUser"></div>
                        <input type="text" name="" id="" placeholder="Ingrese el Nombre de Usuario*">
                    </div>
                </label>
            </div>
            <div class="col-6">
                <label class="w-100">
                    <h5 class="nombre">Correo electronico</h5>
                    <div class="campo">
                        <div class="icono correo"></div>
                        <input type="text" name="" id="" placeholder="Ingrese el Correo*">
                    </div>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <label class="w-100">
                    <h5 class="nombre">Contraseña</h5>
                    <div class="campo">
                        <div class="icono contra"></div>
                        <input type="text" name="" id="" placeholder="Ingrese la Contraseña*">
                    </div>
                </label>
            </div>
            <div class="col-6">
                <label class="w-100">
                    <h5 class="nombre">Repetir contraeña</h5>
                    <div class="campo">
                        <div class="icono repContra"></div>
                        <input type="text" name="" id="" placeholder="Ingrese nuevamente la Contraseña*">
                    </div>
                </label>
            </div>
        </div>
    </div>
</div>