@import "../../../styles.scss";
.error {
    text-align: left;
    color: red;
    font-family: neueR;
    text-align: center;
  }
  
.titulo {
    text-align: center;
    margin: 2%;
    font-family: "recoletaB";
    font-size: 230%;
}
.elemento {
    margin: auto;
    margin-bottom: 80px;
    padding-bottom: 30px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(148, 148, 148, 0.85);
    h4 {
        background-color: $grey;
        color: white;
        padding: 10px;
        border-radius: 5px 5px 0 0;
        font-family: "recoletaB";
        text-align: center;
        width: 100%;
        font-size: 200%;
    }
    .row {
        margin: auto;
        width: 90%;
        padding-top: 30px;
        * {
            vertical-align: middle !important;
        }

        .nombre {
            margin-left: 3%;
            font-family: neueB;
        }
        .campo {
            height: 40px;
            width: 90%;
            background: #ffffff;
            box-shadow: 0px 4px 4px rgba(32, 32, 32, 0.197), inset 0px 0px 10px rgba(47, 47, 47, 0.299);
            border: 1px solid rgba(30, 30, 30, 0.701);
            border-radius: 5px;
        }

        .icono {
            background-repeat: no-repeat;
            background-size: 80%;
            background-position: center;
            border: none;
            border-right: 1px solid rgba(30, 30, 30, 0.701);
            background-color: $yellow;
            border-radius: 5px 0px 0px 5px;
            user-select: none;
            height: 101%;
            width: 9%;
            margin-left: -0.5px;
            float: left;
            box-shadow: inset 0px 0px 10px rgba(45, 45, 45, 0.299);
        }

        input {
            font-family: neueR;
            margin-left: 1%;
            height: 100%;
            width: 90%;
            border: none;
            background: none;
            outline: none;
        }
    }
}

.nombreUser {
    background-image: url("../../../assets/IMG/iconos/icononombreuser.png");
}
.correo {
    background-image: url("../../../assets/IMG/iconos/correoicono.png");
}

.contra {
    background-image: url("../../../assets/IMG/iconos/contraseñaicono.png");
}
.repContra {
    background-image: url("../../../assets/IMG/iconos/repecontraicono.png");
}

.campnombre {
    background-image: url("../../../assets/IMG/iconos/icononombre.png");
}
.apellidos {
    background-image: url("../../../assets/IMG/iconos/icononombre.png");
}

.contra {
    background-image: url("../../../assets/IMG/iconos/localidadicono.png");
}
.repContra {
    background-image: url("../../../assets/IMG/iconos/iconodireccion.png");
}

.boton {
    text-align: center;
    margin-top: -2%;
    margin-bottom: 5%;

    button {
        background-color: $orange;
        border: none;
        color: white;
        font-family: "neueB";
        padding: 6px 0 6px 0;
        text-shadow: 0 4px 10px rgba(0, 0, 0, 0.367);
        margin: auto;
        font-size: 200%;
        border-radius: 5px;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.374);
        transition: 0.3s;
    }
}

@media screen and(min-width: 850px) {
    .elemento {
        width: 75%;
    }
    .boton {
        button:hover {
            transform: scale(110%);
            box-shadow: 0 5px 8px rgba(0, 0, 0, 0.252);
            width: 45%;
        }
    }
}
@media screen and(max-width: 850px) {
    .elemento {
        width: 95%;
    }

    .boton {
        button {
            width: 75%;
        }
    }
}
