<div class="container-fluid sobre">
<h1>Sobre el proyecto</h1><br>
<div  class="container izq">
    <img class="sticker sandia" src="../../../assets/IMG/En Temporada (IES FSL)/Stickers/Watermelon.png" alt="">
    <img class="sticker local" src="../../../assets/IMG/En Temporada (IES FSL)/Stickers/Orange Wedge.png" alt="">
    <img class="sticker naranja" src="../../../assets/IMG/En Temporada (IES FSL)/Stickers/White Local.png" alt="">
<p><strong> En Temporada</strong> is a project <br> <span class="margen"> by digital design studio <strong> Gusta.</strong></span>
    <br><br>
    For the reasons above, we think it’s important <br> that we all make more conscious decisions <br> when going for our daily groceries.
    <br>
    <span class="margen"> Our </span> belief is that if we all contribute <br> by <strong> choosing sustainable food options </strong><br> and <strong>  supporting our local communities</strong>,<br> the places where we live become 
    <br> <strong class="margen"> more enjoyable.</strong></p>
</div>
</div>