<div class="container-fluid sobre">
<h1>Sobre el proyecto</h1><br>
<div  class="container w-50 izq">
<p><strong> En Temporada</strong> is a project <br> <span class="margen"> by digital design studio <strong> Gusta.</strong></span>
    <br>
    For the reasons above, we think it’s important that we all make more conscious decisions when going for our daily groceries.
    <br>
    <span class="margen"> Our </span> belief is that if we all contribute <br> by <strong> choosing sustainable food options </strong><br> and <strong>  supporting our local communities</strong>, the places where we live become 
    <br> <strong class="margen"> more enjoyable.</strong></p>
</div>
</div>