@import "../../../styles.scss";

.titulo {
    text-align: center;
    font-family: recoletaB;
    font-size: 250%;
    text-shadow: 0 5px 4px rgba(64, 64, 64, 0.333);
}
.boton {
    align-items: center;
}

.acceder {
    font-family: neueB;
    color: white;
    background-color: $orange;
    margin: auto;
    width: 90%;
    padding: 5px 0px 5px 0px;
    border: none;
    border-radius: 5px;
    font-size: 160%;
    text-shadow: 0 5px 4px rgba(64, 64, 64, 0.333);
    transition: 0.3s;
}

.contenedor {
    margin: 0px 0 5px 0;
    text-align: center;
}

.campos {
    text-align: left;
    width: 90%;
    h3 {
        font-size: 150%;
        font-family: neueB;
        margin: 10px 10px 7px 10px;
    }
}

input:not([type="checkbox"]) {
    font-size: 110%;
    font-family: neueR;
    padding: 7px 0px 7px 5px;
    width: 100%;
    height: 100%;
    border: 1px solid rgba(56, 56, 56, 0.721);
    border-radius: 5px;
    box-shadow: inset 0 0px 5px rgba(52, 52, 52, 0.347);
    outline: none;
}

.row {
    font-family: neueB;
    margin-top: 10px;
}

.recuerdame {
    input {
        transform: scale(140%);
    }
    span {
        user-select: none;
        margin-left: 10px;
        font-size: 120%;
    }
}

.contraseña {
    font-size: 120%;
    text-decoration: underline;
    > p {
        cursor: pointer;
    }
}

.registro {
    text-decoration: underline;
    margin-top: 40px;
    font-size: 110%;
    > p {
        line-height: 10px;
        cursor: pointer;
    }
}

.recu_contraseña {
    margin-top: 30px;
    font-family: neueB;
    font-size: 120%;
}

.error {
    text-align: left;
    color: red;
    font-family: neueR;
    text-align: center;
}

.logo {
    position: absolute;
}

.orange {
    right: -40px;
    width: 150px;
    top: -50px;
    transform: rotate(20deg);
}

.lemon {
    left: -40px;
    top: -40px;
    width: 140px;
}
