@import "../../../styles.scss";

@media screen and (min-width: 700px) {
  li {
    list-style: none;
  }

  h1 {
    text-align: center;
    margin: 70px 0px 20px 0px;
    font-family: recoletaB;
    font-size: 55px;

    strong {
      font-family: neueB;
    }
  }

  .articulo {
    height: 300px;
    padding-top: 40px;
    font-family: neueB;
    margin: auto;
    margin: 10px -5px 20px -5px;
    border-radius: 20px;
    border: none;
    transition: 0.3s;
    cursor: pointer;

    &:hover {
      color: white;
      transform: scale(110%);
      table {
        display: block;
      }
    }

    &:hover .imgFruta {
      transform: scale(120%);
    }

    .imgFruta {
      width: 8em;
      margin: auto;
      transition: 0.3s;
    }

    .card {
      margin: 20px;
    }
    table {
      display: none;
      text-align: center;
      td {
        font-size: 90%;
        width: 100em;
      }
    }
  }
}
.temporada {
  img {
    height: 15px;
    width: 15px;
  }
  td {
    width: 10px;
  }
}
@media screen and(max-width:812px) {
  h1 {
    font-size: 35px;
  }

  .temporada {
    > img {
      height: 5px;
      width: 15px;
    }
  }

  .articulo {
    height: 100px;
    padding-top: 10px;
    padding-left: 10px;
    font-family: neueB;
    margin: auto;
    margin: 10px -5px 20px -5px;
    border-radius: 20px;
    border: none;
    transition: 0.1s;
    h5 {
      margin-top: -4.8em;
      margin-left: 5em;
    }

    &:hover {
      color: white;
      table {
        display: block;
        color: white;
      }
    }

    .imgFruta {
      width: 5em;
      margin-right: 15px;
    }

    .card {
      margin: 20px;
    }
    table {
      margin: auto;
      margin-left: 3.6em;
      margin-top: -1em;
      display: none;
      width: 100%;
      text-align: center;
      font-size: 5px;
      td {
        padding: 0.21em;
        padding-bottom: 0em;
      }
    }
  }
}