<div class="container">
  <h1><strong>Frutas</strong> en {{mes}}</h1>
  <div style="margin: 50px;">
    <div class="row">
      <div class="col-sm-3" *ngFor="let articulo of frutas" id="{{articulo.id}}">
        <div class="card articulo" [routerLink]="['/infoproducto', articulo.nombre, articulo.color]" (mouseover)="cambiaColor(articulo.id)" (mouseout)="quitaColor(articulo.id)">
          <img class="card-img-top" src="../../assets/IMG/fruta.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{articulo.nombre}}</h5>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h1><strong>Verduras</strong> en {{mes}}</h1>
  <div style="margin: 50px;">
    <div class="row">
      <div class="col-sm-3" *ngFor="let articulo of verduras" id="{{articulo.id}}">
        <div class="card articulo" [routerLink]="['/infoproducto', articulo.nombre, articulo.color]" (mouseover)="cambiaColor(articulo.id)" (mouseout)="quitaColor(articulo.id)">
          <img class="card-img-top" src="../../assets/IMG/verdura.png" alt="Card image cap">
          <img src="../../../assets/IMG/En Temporada (IES FSL)/Frutas/Breva/Breva1.png" alt="">
          <div class="card-body">
            <h5 class="card-title">{{articulo.nombre}}</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>