<div class="container" id="productos">
  <h1><strong>Frutas</strong> en {{mesActual}}</h1>
  <div style="margin: 50px;">
    <div class="row">
      <div class="col-sm-3" *ngFor="let articulo of frutas" id="{{articulo.id}}">
        <div class="card articulo" [routerLink]="['/infoproducto', articulo.id]" (mouseover)="cambiaColor(articulo.id)"
          (mouseout)="quitaColor(articulo.id)">
          <img class="card-img-top" src="../../assets/IMG/Frutas/basic/{{articulo.nombre}}.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{articulo.nombre}}</h5>
            <table>
              <thead>
                <td *ngFor="let mes of mes">{{mes}}</td>
              </thead>
              <tbody>
                <td *ngFor="let mes of meses">.</td>
              </tbody>
            </table>

          </div>
        </div>
      </div>
    </div>
  </div>


  <h1><strong>Verduras</strong> en {{mesActual}}</h1>
  <div style="margin: 50px;">
    <div class="row">
      <div class="col-sm-3" *ngFor="let articulo of verduras" id="{{articulo.id}}">
        <div class="card articulo" [routerLink]="['/infoproducto', articulo.id]" (mouseover)="cambiaColor(articulo.id)"
          (mouseout)="quitaColor(articulo.id)">
          <img class="card-img-top" src="../../assets/IMG/Verduras/basic/{{articulo.nombre}}.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{articulo.nombre}}</h5>
            <table>
              <thead>
                <td *ngFor="let mes of mes">{{mes}}</td>
              </thead>
              <tbody>
                <td *ngFor="let mes of meses">.</td>
              </tbody>
            </table>

          </div>
        </div>
      </div>
    </div>
  </div>



</div>