@import "../../../styles.scss";
a{
  text-decoration: none;
  color: black;
}
li {
  list-style: none;
}

h1 {
  text-align: center;
  margin: 40px 0px 20px 0px;
  font-family: recoletaB;
  font-size: 55px;

  strong {
    font-family: neueB;
  }
}

.articulo {
  height: 300px;
  padding-top: 40px;
  font-family: neueB;
  margin: auto;
  margin: 10px -5px 20px -5px;
  border-radius: 20px;
  border: none;
  transition: 0.1s;

  &:hover {
    color: white;
    table{
      display: block;
      color: white;
    }
  }

  img {
    width: 8em;
    margin: auto;
  }

  .card {
    margin: 20px;
  }
  table{
    display: none;
    text-align: center;
    td{
      padding: 0.38em;

    }
 }

}

@media screen and(max-width:700px) {
  h1 {
    font-size: 25px;
  }
  
}
