@import "../../../styles.scss";

.fondo {
    width: 90%;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(118, 118, 118, 0.537);
    border-radius: 5px;
    margin: auto;
    margin-top: 3em;
    margin-bottom: 3em;
}

.gestionReceta {
    font-family: neueB;
    position: fixed;
    bottom: 2%;
    right: 2%;
    text-align: center;
    margin: auto;

    > div {
        margin: auto;
        padding: 0 8px 0 8px;
    }
    button {
        border: none;
        height: 50px;
        width: 110px;
        border-radius: 10px;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.463);
        transition: 0.3s;
        &:hover {
            transform: scale(110%);
        }
    }

    .cancelar {
        background-color: rgb(255, 44, 44);
    }

    .crear {
        background-color: $yellow;
    }
}
