<div class="container">
  <div class="col-sm">
    <img src="../../../assets/IMG/En Temporada (IES FSL)/Stickers/Purple Banana.png" alt="" class="banana sticker">
    <img src="../../../assets/IMG/En Temporada (IES FSL)/Stickers/Watermelon.png" alt="" class="sandia sticker">
    <img src="../../../assets/IMG/En Temporada (IES FSL)/Stickers/Green Peach.png" alt="" class="melocoton sticker">
    <img src="../../../assets/IMG/En Temporada (IES FSL)/Stickers/Classic White.png" alt="" class="respetar sticker">
    <img src="../../../assets/IMG/En Temporada (IES FSL)/Stickers/Blue Banana.png" alt="" class="bananaBlue sticker">
    <img src="../../../assets/IMG/En Temporada (IES FSL)/Stickers/Red Sunny.png" alt="" class="sunRed sticker">


    <div class="icono mb-2"><a [routerLink]="''" routerLinkActive="router-link-active"><img
          src="../../../assets/IMG/titulo.png" alt=""></a>

    </div>
    <br>
    <h1 class="titulo">Come productos locales<br> y frescos para apoyar<br> al planeta y tu comunidad.</h1>
    <div class="contimg mb-2">
      <a (click)="bajar()"><img class="imagen" src=" ../../../assets/IMG/temporadabl.png" alt=""></a>
    </div>
  </div>
</div>
<br>
<br>
