@import "../../../styles.scss";

// TITULO
.titulo {
  margin-top: 70px;
  font-family: recoletaB;
  text-align: center;
  font-size: 90px;
}

.icono {
  margin: auto;
  width: 100%;
  height: 130px;
  text-align: center;

  img {
    text-align: center;
    height: 100%;
  }
}

.container {
  padding-bottom: 120px;
}

.imagen {
  width: 150px;
  margin: auto;
  margin-top: -20px;
  margin-bottom: -10px;
  cursor: pointer;
}

.contimg {
  margin-top: 160px;
  text-align: center;
}

@media screen and(max-width: 812px) {
  .titulo {
    font-size: 45px;
    margin-bottom: -4em;
  }
}

// STICKERS
.sticker {
  width: 150px !important;
  height: auto;
  position: absolute;
  z-index: 2 !important;
  filter: drop-shadow(5px 2px 1px rgba(0, 0, 0, 0.219));
  transform: translate(-50%, -50%)
}

.banana {
  top: 1%;
  left: 30%;
  transform: rotate(20deg);
}

.sandia {
  transform: rotate(20deg);
  top: 9%;
  left: 72%;
}

.melocoton {
  transform: rotate(-10deg);
  top: 17%;
  left: 3%;
}

.respetar {
  transform: rotate(20deg);
  top: 57%;
  left: -5%;
}

.bananaBlue {
  transform: rotate(-15deg);
  top: 80%;
  left: 23%;
}

.sunRed {
  transform: rotate(20deg);
  top: 37%;
  left: 88%;
}

.ovalBlue {
  transform: rotate(10deg);
  top: 13%;
  left: 107%;
}

.limon {
  transform: rotate(15deg);
  top: 72%;
  left: 72%;
}

.diamanteRojo {
  transform: rotate(-15deg);
  top: 100%;
  left: -16%;
}

.naranja {
  transform: rotate(15deg);
  top: 105%;
  left: 90%;
}
