@import "../../../styles.scss";

// TITULO
.titulo {
  font-family: recoletaB;
  text-align: center;
  font-size:  60px;
}

.icono {
  margin: auto;
  background-image: url("../../../assets/IMG/titulo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 110%;
}
