<app-barra [color]="'green'"></app-barra>
<div class="header">
  <div class="col-sm">
    <img src="../../../assets/IMG/tituloW.png" alt="" class="icono">
    <h1 class="titulo">{{titulo}}</h1>
    <img src="../../../assets/IMG/En Temporada (IES FSL)/Stickers/Orange Wedge.png" alt="" class="sticker gajo">
    <img src="../../../assets/IMG/En Temporada (IES FSL)/Stickers/Classic White.png" alt="" class="sticker white">
    <img src="../../../assets/IMG/En Temporada (IES FSL)/Stickers/Black Orange.png" alt="" class="sticker naranja">
    <img src="../../../assets/IMG/En Temporada (IES FSL)/Stickers/Lemon.png" alt="" class="sticker limon">
    <img src="../../../assets/IMG/En Temporada (IES FSL)/Stickers/Green Peach.png" alt="" class="sticker malacaton">
  </div>
</div>

<div class="container">
  <div class="elemento">

    <div class="row barra">

      <div class="resultados col-12 col-lg-5">
        <p class="encontrados"><strong>Resultados encontrados: {{cantidad}}</strong></p>
      </div>

      <!-- CAMPOS DE BUSQUEDA -->
      <div class="ml-sm-2 col-lg-6 col-12 busqueda">
        <div class="search row">
          <div class=" col-5  mr-2 campo">
            <input  name ="filterPost" [(ngModel)]="textofiltro" type="text" placeholder="Busqueda...">
            <button (click)="filtrar()" class="lupa"></button>
          </div>

          <!-- SELECTS DE FILTRO -->
          <div class="col-lg-6 col-6 filtro">
            <div class="row">
              <select (change)="filtrarTipo()" [(ngModel)]="opcion" class="relevancia col-lg-6 col-5">
                <option value=""></option>
                <option value="DESC">Más recientes</option>
                <option value="ASC">Más antiguas</option>
                <option value="COMENTARIOS">Más comentadas</option>
                <option value="LIKES">Más gustadas</option>

              </select>

              <select (change)="filtrarTipo()" [(ngModel)]="id_cat" class="tipo col-log-6 col-5">
                <option value=""></option>
                <option [value]="item.id" *ngFor="let item of categorias">{{item.nombre}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
<ng-container *ngIf="entradas && buscando; else elseTemplate">
  <app-card-entradas [entradas]="entradas" [filterPost]="filterPost"></app-card-entradas>
</ng-container>
<ng-template #elseTemplate>
  <app-carga></app-carga>
</ng-template>
<app-footer></app-footer>
<app-subir></app-subir>
