@import "../../../styles.scss";

.fondo {
  width: 90%;
  background-color: white;
  padding: 20px;
  padding-top: 30px;
  box-shadow: 0 0 10px rgba(118, 118, 118, 0.537);
  border-radius: 5px;
  margin: auto;
  margin-top: 2em;
}
