<div class="container big d-md-block">

  <table class="table">
    <thead>
      <tr>
        <th class="tipo">
          <p>Frutas</p>
        </th>
        <th *ngFor="let mes of meses; let indice=index" [ngClass]="{'cabMes': indice==mesActual}">{{mes}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let articulo of frutas;let i=index" [ngClass]="{'ultimaFila':i==frutas.length-1}"
        id="m{{articulo.id}}">

        <td class="mgr" [routerLink]="['/infoproducto', articulo.id]" (mouseover)="cambiaColor(articulo.id ,'m')"
          (mouseout)="quitaColor(articulo.id,'m')">

          <img class="miimg" src="../../assets/IMG/Frutas/basic/{{articulo.imagen}}" alt="">
          {{articulo.nombre}}
        </td>
       
        <td (mouseover)="cambiaColor(articulo.id,'m')" (mouseout)="quitaColor(articulo.id,'m')"
          *ngFor="let mes of getMes(articulo.id); let indice=index" [ngClass]="{'cabFila': indice==mesActual}">
          <div class="temporada" [ngSwitch]="mes.estado">
            <img src="../../../assets/IMG/iconos/simbolos en temporada/en Temporada.png" class="T" *ngSwitchCase="'T'">
            <img src="../../../assets/IMG/iconos/simbolos en temporada/inicio.png" class="I" *ngSwitchCase="'I'">
            <img src="../../../assets/IMG/iconos/simbolos en temporada/Temporada baja.png" class="B"
              *ngSwitchCase="'B'">
            <img src="../../../assets/IMG/iconos/simbolos en temporada/final.png" class="F" *ngSwitchCase="'F'">
          </div>
        </td>
      </tr>

    </tbody>
  </table>

  <table class="table">
    <thead>
      <tr>
        <th class="tipo">
          <p>Verduras</p>
        </th>
        <th *ngFor="let mes of meses; let indice=index" [ngClass]="{'cabMes': indice==mesActual}">{{mes}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let articulo of verduras;let i=index" [ngClass]="{'ultimaFila':i==verduras.length-1}"
        id="m{{articulo.id}}">

        <td class="mgr" [routerLink]="['/infoproducto', articulo.id]" (mouseover)="cambiaColor(articulo.id ,'m')"
          (mouseout)="quitaColor(articulo.id,'m')">

          <img class="miimg" src="../../assets/IMG/Verduras/basic/{{articulo.imagen}}" alt="">
          {{articulo.nombre}}
        </td>
        <td (mouseover)="cambiaColor(articulo.id,'m')" (mouseout)="quitaColor(articulo.id,'m')"
          *ngFor="let mes of getMes(articulo.id); let indice=index" [ngClass]="{'cabFila': indice==mesActual}">
          <div class="temporada" [ngSwitch]="mes.estado">
            <img src="../../../assets/IMG/iconos/simbolos en temporada/en Temporada.png" class="T" *ngSwitchCase="'T'">
            <img src="../../../assets/IMG/iconos/simbolos en temporada/inicio.png" class="I" *ngSwitchCase="'I'">
            <img src="../../../assets/IMG/iconos/simbolos en temporada/Temporada baja.png" class="B"
              *ngSwitchCase="'B'">
            <img src="../../../assets/IMG/iconos/simbolos en temporada/final.png" class="F" *ngSwitchCase="'F'">
          </div>
        </td>
      </tr>

    </tbody>
  </table>


</div>


<div class="leyenda">
  <li><img src="../../../assets/IMG/iconos/simbolos en temporada/inicio.png">Inicio</li>
  <li><img src="../../../assets/IMG/iconos/simbolos en temporada/en Temporada.png">En temporada</li>
  <li><img src="../../../assets/IMG/iconos/simbolos en temporada/Temporada baja.png">Temporada baja</li>
  <li><img src="../../../assets/IMG/iconos/simbolos en temporada/final.png">Final</li>
</div>

<!-- TABLAS EN MOVIL -->
<div class="container small d-md-none">
  <!-- <div class="leyenda">
    <ul class="arriba">
      <li><img src="../../../assets/IMG/iconos/simbolos en temporada/inicio.png">Inicio</li>
      <li><img src="../../../assets/IMG/iconos/simbolos en temporada/en Temporada.png">En temporada</li>
    </ul>
    <ul>
      <li><img src="../../../assets/IMG/iconos/simbolos en temporada/Temporada baja.png">Temporada baja</li>
      <li><img src="../../../assets/IMG/iconos/simbolos en temporada/final.png">Final</li>
    </ul>
  </div> -->

  <!-- TABLA DE FRUTAS -->
  <table class="table">
    <thead>
      <tr>
        <th class="tipo">Frutas</th>
        <th class="cabMes">{{mesact}}</th>
        <th>{{messig}}</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let articulo of frutas;" id=s{{articulo.id}}>
        <td class="mgr" [routerLink]="['/infoproducto', articulo.id]" (mouseover)="cambiaColor(articulo.id,'s')"
          (mouseout)="quitaColor(articulo.id,'s')">
          <img src="../../assets/IMG/Frutas/basic/{{articulo.imagen}}" alt="">
          {{articulo.nombre}}
        </td>
        <td class="cabFila">
          <div class="temporada" [ngSwitch]="getMes(articulo.id)[mesActual].estado">
            <img src="../../../assets/IMG/iconos/simbolos en temporada/en Temporada.png" class="T" *ngSwitchCase="'T'">
            <img src="../../../assets/IMG/iconos/simbolos en temporada/inicio.png" class="I" *ngSwitchCase="'I'">
            <img src="../../../assets/IMG/iconos/simbolos en temporada/Temporada baja.png" class="B"
              *ngSwitchCase="'B'">
            <img src="../../../assets/IMG/iconos/simbolos en temporada/final.png" class="F" *ngSwitchCase="'F'">
          </div>
        </td>
        <td>
          <div class="temporada" [ngSwitch]="getMes(articulo.id)[mesActual + 1].estado">
            <img src="../../../assets/IMG/iconos/simbolos en temporada/en Temporada.png" class="T" *ngSwitchCase="'T'">
            <img src="../../../assets/IMG/iconos/simbolos en temporada/inicio.png" class="I" *ngSwitchCase="'I'">
            <img src="../../../assets/IMG/iconos/simbolos en temporada/Temporada baja.png" class="B"
              *ngSwitchCase="'B'">
            <img src="../../../assets/IMG/iconos/simbolos en temporada/final.png" class="F" *ngSwitchCase="'F'">
          </div>
        </td>
      </tr>

    </tbody>
  </table>

  <!-- TABLA DE VERDURAS -->
  <table class="table">
    <thead>
      <tr>
        <th class="tipo">Verduras</th>
        <th class="cabMes">{{mesact}}</th>
        <th>{{messig}}</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let articulo of verduras;" id=s{{articulo.id}}>
        <td class="mgr" [routerLink]="['/infoproducto', articulo.id]" (mouseover)="cambiaColor(articulo.id,'s')"
          (mouseout)="quitaColor(articulo.id,'s')">
          <img src="../../assets/IMG/Verduras/basic/{{articulo.imagen}}" alt="">
          {{articulo.nombre}}
        </td>
        <td class="cabFila">
          <div class="temporada" [ngSwitch]="getMes(articulo.id)[mesActual].estado">
            <img src="../../../assets/IMG/iconos/simbolos en temporada/en Temporada.png" class="T" *ngSwitchCase="'T'">
            <img src="../../../assets/IMG/iconos/simbolos en temporada/inicio.png" class="I" *ngSwitchCase="'I'">
            <img src="../../../assets/IMG/iconos/simbolos en temporada/Temporada baja.png" class="B"
              *ngSwitchCase="'B'">
            <img src="../../../assets/IMG/iconos/simbolos en temporada/final.png" class="F" *ngSwitchCase="'F'">
          </div>
        </td>
        <td>
          <div class="temporada" [ngSwitch]="getMes(articulo.id)[mesActual + 1].estado">
            <img src="../../../assets/IMG/iconos/simbolos en temporada/en Temporada.png" class="T" *ngSwitchCase="'T'">
            <img src="../../../assets/IMG/iconos/simbolos en temporada/inicio.png" class="I" *ngSwitchCase="'I'">
            <img src="../../../assets/IMG/iconos/simbolos en temporada/Temporada baja.png" class="B"
              *ngSwitchCase="'B'">
            <img src="../../../assets/IMG/iconos/simbolos en temporada/final.png" class="F" *ngSwitchCase="'F'">
          </div>
        </td>
      </tr>

    </tbody>
  </table>

</div>