@import "../../../styles.scss";

table {
  width: 100%;
  text-align: center;
  user-select: none;
  border-collapse: separate;
  border-spacing: 3px;
  margin-bottom: 100px;

  img {
    width: 30%;
  }

  th {
    border: none;
  }

  .mes {
    width: 20%;
    font-family: recoletaB;
    font-size: 250%;
  }

  :not(.mes) {
    vertical-align: middle !important;
    font-family: neueB;
  }

  tbody {
    > tr {
      transition: 0.1s;

      td {
        border: none;
        background-color: white;

        &:first-child {
          border-radius: 7px 0px 0px 7px;
        }
      }

      .nombre {
        text-align: left;
      }

      tr:hover td {
        // background-color: black;
        color: white;
      }
    }

    .nombre {
      text-align: left;
    }
  }
}
