@import "../../../styles.scss";

nav {
  font-family: neueB;
  font-size: 110%;
  background-color: $beige;
  a {
    outline: none;
  }
}
.green {
  background-color: $green;
}
.yellow {
  background-color: $yellow;
}

.black {
  background-color: $grey;
}

.orange {
  background-color: $orange;
}

.beige {
  background-color: $beige;
}

.orange,
.black,
.green {
  a {
    color: white !important;
  }
  .menu {
    color: white;
  }
}

.icono {
  a {
    border: 1px solid black;
  }

  img {
    height: 10%;
  }
}

.navbar-toggler {
  border: none;
  color: black;
}

.nav-item {
  margin-right: 40px;
  font-size: 120%;
}

.dropdown-user {
  * {
    color: black;
    text-decoration: none;
  }

  img {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    margin-right: 10px;
  }

  .boton {
    text-align: center !important;
    border: none;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: $yellow;
    transition: 0.3s;
    outline: none;
    > img{
      border: 100%;
    }
  }
}

@media screen and(max-width: 700px) {
  .oscura {
    background-image: none;
  }
}
