@import "../../../styles.scss";

nav {
  font-family: neueB;
  font-size: 110%;
  background-color: $beige;
  a {
    outline: none;
  }
}

.menu {
  color: black;
}
.green {
  background-color: $green;
}
.yellow {
  background-color: $yellow;
}

.black {
  background-color: $grey;
}

.orange {
  background-color: $orange;
}

.beige {
  background-color: $beige;
}

.orange,
.black,
.green {
  a {
    color: white !important;
  }
  .menu {
    color: white;
  }
}

.navbar-toggler {
  border: none;
  color: black;
}

.nav-item {
  margin-right: 40px;
  font-size: 120%;
}

.dropdown-user {
  * {
    color: black;
    text-decoration: none;
  }

  .boton {
    text-align: center !important;
    border: none;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: $yellow;
    transition: 0.3s;
    outline: none;
    .icono {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      height: 40px;
      width: 40px;
      display: inline-block;
      border-radius: 100%;
      margin-right: 10px;
    }
    *{
      vertical-align: middle !important;
    }
  }
}


@media screen and(max-width: 700px) {
  .oscura {
    background-image: none;
  }
}
