@import "../../../styles.scss";

nav {
  font-family: neueB;
  font-size: 110%;
  background-color: $beige;
  a{
    outline: none;
  }
}
.green {
  background-color: $green;
}
.yellow {
  background-color: $yellow;
  background-image: url("../../../assets/IMG/titulo.png");
}
.orange {
  background-color: $orange;
}

.beige {
  background-color: $beige;
  background-image: url("../../../assets/IMG/titulo.png");
}

.orange,
.yellow,
.green,
.beige {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  // box-shadow: 0 3px 4px rgba(30, 30, 30, 0.32);
  // border-bottom: 1px solid white;
}
.orange,
.green {
  background-image: url("../../../assets/IMG/tituloW.png");
  a {
    color: white !important;
  }
  .menu {
    color: white;
  }
}

.icono {
  a {
    border: 1px solid black;
  }

  img {
    height: 10%;
  }
}

.navbar-toggler {
  border: none;
  color: black;
}

.nav-item {
  margin-right: 40px;
  font-size: 120%;
}

.dropdown-user {
  * {
    color: black;
    text-decoration: none;
  }

  img {
    height: 30px;
  }

  .boton {
    text-align: center !important;
    border: none;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: $yellow;
    outline: none;
  }
}

@media screen and(max-width: 700px) {
  .oscura {
    background-image: none;
  }
}
