<nav class="navbar navbar-expand-md navbar-light {{color}}">
  <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
    aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
    <span class="menu">Menu</span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavId">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="'/'" routerLinkActive="router-link-active">Inicio</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="'/calendario'" routerLinkActive="router-link-active">Calendario</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="'/recetas'" routerLinkActive="router-link-active">Recetas</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="'/entradas'" routerLinkActive="router-link-active">Blog</a>
      </li>
    </ul>
    <ul class="navbar-nav my-lg-0">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="'/aboutus'" routerLinkActive="router-link-active">¿Qué es esto?</a>
      </li>



      <div class="btn-group dropdown-user">
        <ng-container *ngIf="sesion; else sesionIniciada">
          <button type="button" class="boton dropdown-toggle pr-3 pl-3" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <ng-container *ngIf="imagen">
              <a class="icono" style="background-image: url(/assets/IMG/Usuarios/{{imagen}});" alt=""></a>
            </ng-container>
            <span>{{nickname}}</span>
          </button>
          <div class="dropdown-menu dropdown-menu-right">
            <button class="dropdown-item" type="button" [routerLink]="'/perfil'">Perfil</button>
            <div class="dropdown-divider"></div>
            <button class="dropdown-item" type="button" [routerLink]="'/'" (click)="logout()">Log Out</button>
          </div>
        </ng-container>
        <ng-template #sesionIniciada>
          <button class="boton pr-3 pl-3" (click)="openDialog()">Log In</button>
        </ng-template>
      </div>
    </ul>
  </div>
</nav>
