@import "../../../styles.scss";

:host ::ng-deep nav {
  background-color: $green !important;

  a {
    color: white !important;
  }

  button {
    a {
      color: black !important;
    }
  }
}

::ng-deep .navbar-toggler>span {
  color: white;
}
