@import "../../../styles.scss";

// TITULO
.titulo {
  font-family: recoletaB;
  text-align: center;
  font-size: 70px;
  color: white;
  margin-top: 30px;
}

.icono {
  margin: auto;
  width: 100%;
  height: 140px;
  text-align: center;

  img {
    text-align: center;
    height: 100%;
  }
}

.container-fluid {
  background-color: $orange;
  margin-bottom: 100px;
  height: 60vh;
  width: 100vw;
}

@media screen and(max-width:812px) {
  .titulo {
    font-family: recoletaB;
    text-align: center;
    font-size: 35px;
    color: white;
    margin-top: -50px;
  }

  .icono {
    margin: auto;
    width: 100%;
    height: 140px;
    text-align: center;

    img {
      text-align: center;
      height: 60%;
    }
  }

  .container-fluid {
    background-color: $orange;
    margin-bottom: 30px;

  }
}

.sticker {
  width: 7vw;
  position: absolute;
  margin: auto !important;
  filter: drop-shadow(5px 2px 8px rgba(66, 66, 66, 0.6));
}

.gajo {
  transform: rotate(-10deg);
  left: 5%;
  top: 230%;

}

.white {
  transform: rotate(5deg);
  left: 20%;
  top: 350%;

}

.naranja {
  transform: rotate(-10deg);
  left: 15%;
  top: 10%;

}

.limon {
  transform: rotate(25deg);
  left: 70%;
  top: 340%;
}

.malacaton {
  transform: rotate(10deg);
  left: 65%;
  top: 10%;
}

.sol {
  transform: rotate(10deg);
  left: 85%;
  top: 150%;
}
