<div class="container-fluid">
  <div class="col-sm">
    <div class="icono mb-2"><a [routerLink]="''"><img src="../../../assets/IMG/tituloW.png" alt=""></a></div>
    <img src="../../../assets/IMG/En Temporada (IES FSL)/Stickers/Green Peach.png" alt="" class="sticker malacaton">
    <img src="../../../assets/IMG/En Temporada (IES FSL)/Stickers/Red Sunny.png" alt="" class="sticker sol">
    <img src="../../../assets/IMG/En Temporada (IES FSL)/Stickers/Lemon.png" alt="" class="sticker limon">
    <img src="../../../assets/IMG/En Temporada (IES FSL)/Stickers/Classic White.png" alt="" class="sticker blanco">
    <img src="../../../assets/IMG/En Temporada (IES FSL)/Stickers/Black Orange.png" alt="" class="sticker naranja">
    <img src="../../../assets/IMG/En Temporada (IES FSL)/Stickers/Orange Wedge.png" alt="" class="sticker gajo">

    <br>
    <h1 class="titulo">Qué está en temporada<br>durante el año</h1>
  </div>
</div>
