@import "../../../styles.scss";

.datos {
    width: 80%;

    .infonutri {
        width: 85%;
        margin: auto;

        .producto {
            border: 1px solid rgba(72, 72, 72, 0.625);
            border-radius: 5px 0 0 5px !important;
            padding: 0;
            background-color: white;
            text-align: center;
            img {
                width: 70%;
            }

            .card-title {
                text-align: left;
            }
        }
        .col-8 {
            color: white;
            box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.582);
            border-radius: 0 5px 5px 0;
            ul {
                padding: 0%;
                text-align: center;
                margin: auto;
                width: 75%;
                margin-top: 5%;
                font-size: 125%;
                font-family: "neueB";
                li {
                    list-style: none;
                }

                .titulo {
                    font-size: 130%;
                }
            }
        }
    }
    .tabla {
        width: 95%;
        margin: auto;
        text-align: center;
        user-select: none;
        border-collapse: separate;
        border-spacing: 0px 1px;
        margin-top: 50px;
        margin-bottom: 100px;
        border-radius: 10px;
        border: 1px solid rgba(101, 101, 101, 0.599);

        tr {
            height: 50px;
        }
        .meses {
            th {
                background-color: $beige;
                border-bottom: 1px solid rgba(101, 101, 101, 0.599);
            }
        }
    }
}

.cabMes {
    background-color: #39433b !important;
    border-radius: 10px 10px 0px 0px;
    color: white;
}

.cabFila {
    background-color: #17231c !important;
    color: white;
    border-radius: 0px 0px 10px 10px;
}
