<div class="container datos">
    <div class="row infonutri">
        <div class="producto col-4">
            <div>
                <img class="card-img-top" src="../../../assets/IMG/En Temporada (IES FSL)/Frutas/Caqui/Caqui.png"
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title"><strong>{{this.articulos[0].nombre}}</strong></h5>
                </div>
            </div>
        </div>
        <div class="col-8" [ngStyle]="{'background-color': this.articulos[0].color }">
            <h5 class="titulo">Información nutricional</h5>
            <div class="row datitos">
                <div class="col-6 izq">
                    <ul>         
                        <li>Energía: {{this.articulos[0].infonut[0]}}</li>
                        <li>Proteinas: {{this.articulos[0].infonut[1]}}</li>
                        <li>Grasa: {{this.articulos[0].infonut[2]}}</li>
                        <li>Hidratos de carbono: {{this.articulos[0].infonut[3]}}</li> 
                        <li>Calcio: {{this.articulos[0].infonut[4]}}</li> 

                    </ul>
                </div>
                <div class="col-6">
                    <ul>         
                        <li>Fibra: {{this.articulos[0].infonut[5]}}</li>
                        <li>Sodio: {{this.articulos[0].infonut[6]}}</li>
                        <li>Potasio: {{this.articulos[0].infonut[7]}}</li>
                        <li>Hierro: {{this.articulos[0].infonut[8]}}</li> 
                        <li>Ácido folico: {{this.articulos[0].infonut[9]}}</li> 
                    </ul>
                </div>
            </div>
         


        </div>
    </div>
    <div class="row meses">
        <table class="tabla">
            <thead>
                <tr class="meses">
                    <th *ngFor="let mes of meses; let indice=index" [ngClass]="{'cabMes': indice==mesActual}">{{mes}}
                    </th>
                </tr>
                <tr class="puntos">
                    <td *ngFor="let mes of meses; let indice=index" [ngClass]="{'cabFila': indice==mesActual}">.</td>
                </tr>
            </thead>
        </table>
    </div>
</div>