@import "../../../styles.scss";

.infonutri {
    margin: auto;
    margin-bottom: 30px;
    box-shadow: 0 6px 5px rgba(39, 39, 39, 0.286);
    border-radius: 5px 0 0 5px;
    .producto {
        border: 1px solid rgba(72, 72, 72, 0.463);
        padding: 0;
        background-color: white;
        text-align: center;
        box-shadow: inset 0 0 20px rgba(32, 32, 32, 0.354);
        > div {
            margin: auto;
            height: 100%;
        }
        .imgProd {
            margin: auto;
            user-select: none;
            filter: drop-shadow(0 5px 10px rgba(103, 103, 103, 0.585));
        }

        .card-title {
            font-family: neueB;
            text-align: left;
        }
    }
    .fondoColor {
        margin: 0;
        color: white;
        box-shadow: inset 0 0 20px rgba(32, 32, 32, 0.582);
        .titulo {
            text-align: center;
            font-family: "recoletaB";
            border-bottom: 1px solid rgba(255, 255, 255, 0.619);
        }
        .datitos {
            height: 100%;
            margin-bottom: 20px;
        }
        .columna {
            margin: auto;
            > div {
                font-family: "recoletaB";
                strong {
                    font-family: "neueB";
                }
            }
        }
    }
}

.tabla {
    width: 95%;
    margin: auto;
    text-align: center;
    user-select: none;
    border-collapse: separate;
    border-spacing: 0px 1px;
    margin-top: 50px;
    margin-bottom: 100px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(39, 39, 39, 0.306);

    tr {
        height: 50px;
    }
    .meses {
        th {
            background-color: $beige;
            border-bottom: 1px solid rgba(101, 101, 101, 0.415);
        }
    }
}

.cabMes {
    background-color: #39433b !important;
    border-radius: 10px 10px 0px 0px;
    color: white;
}

.cabFila {
    background-color: #17231c !important;
    color: white;
    border-radius: 0px 0px 10px 10px;
    .temporada {
        .B {
            content: url("../../../assets/IMG/iconos/simbolos en temporada/Temporada bajaW.png");
        }
        .T {
            content: url("../../../assets/IMG/iconos/simbolos en temporada/en TemporadaW.png");
        }
        .F {
            content: url("../../../assets/IMG/iconos/simbolos en temporada/finalW.png");
        }
        .I {
            content: url("../../../assets/IMG/iconos/simbolos en temporada/inicioW.png");
        }
    }
}

.leyenda {
    background-color: white;
    box-shadow: 0px 1px 4px rgba(18, 18, 18, 0.226);
    border-radius: 25px;
    width: 550px;
    padding: 10px 0 10px 0;
    text-align: center;
    font-family: "neueB";
    font-size: 110%;
    border: none;
    text-align: center;
    margin: auto;
    margin-top: 1%;

    li {
        list-style: none;
        display: inline;
        padding-right: 10px;
        padding-left: 10px;
        line-height: 20px;
    }

    img {
        width: 30px;
        margin-top: -0.1%;
    }
}

@media screen and(max-width: 812px) {
    .movil {
        display: table;
        margin-bottom: 50px;
    }
    .leyendamovil {
        display: block;
    }
    .leyenda {
        padding: auto;
        ul {
            text-align: center;
            padding-left: 5px;
            padding-right: 10px;
        }
    }
    .orde {
        display: none;
    }
    .leyendaorde {
        display: none;
    }
    .fondoColor {
        border-radius: 0px 0px 5px 5px;
        .titulo {
            padding: 6px 0 6px 0;
            font-size: 140%;
        }
        .datitos {
            font-size: 95%;
            height: 100%;
        }
        .columna {
            > div {
                margin-bottom: 10px;
            }
        }
    }

    .producto {
        border-radius: 5px 5px 0 0;
    }

    .imgProd {
        width: 200px;
    }

    .card-title {
        margin-top: -20px;
        font-size: 140%;
    }
}

.temporada {
    img {
        width: 20px;
    }
}

@media screen and(min-width: 812px) {
    .movil {
        display: none;
    }
    .leyendamovil {
        display: none;
    }
    .infonutri {
        width: 75%;
    }

    .fondoColor {
        border-radius: 0 5px 5px 0;

        .titulo {
            font-size: 200%;
            padding: 5px;
            margin-bottom: 30px;
        }
        .datitos {
            height: 100%;
            margin-bottom: 20px;
        }
        .columna {
            font-size: 125%;
            > div {
                line-height: 30px;
                margin-bottom: 10px;
            }
        }
    }

    .producto {
        border-radius: 5px 0 0 5px;
    }
    .card-title {
        font-size: 145%;
    }

    .imgProd {
        position: relative;
        top: 20px;
        width: 70%;
    }
}
