h1 {
  color: pink;

  h1 {
    color: green;
  }

  h4 {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }

  // desespero

  h2 {
    color: red;
  }

  //uwu

  //uwu

  // AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
