<app-barra [color]="'green'"></app-barra>
<app-moddatos [usuario]="usuario" [rutaUser]="rutaUser" [rutaLogo]="rutaLogo" [exp_res]="exp_res"></app-moddatos>

<div class="inf">
    <div class="container">
        <app-inferior [totalfavoritos]="usuario.totalfavoritos?.total" [totalrecetas]="usuario.totalrecetas?.total"
        [totalguardadas]="usuario.totalguardadas?.total" [totallikes]="usuario.totallikes?.total"></app-inferior>
        <app-recetas [usuario]="usuario"></app-recetas>
        <app-botonnuevareceta></app-botonnuevareceta>
    </div>
</div>