@import "../../../styles.scss";

a {
  color: black;
}

.insta {
  width: 20px;
}

.links {
  align-items: flex-end;
  text-align: right;
  font-family: neueB;


}

#entemp {
  margin-right: 7.5%;

}

#contact {
  margin-left: 7.5%;
}

#barra {
  opacity: 0.2;
}

footer {
  margin-left: 50px;
  margin-right: 50px;
  font-family: neueR;
}

.container {
  max-width: 100%;
}

.logo {
  width: 100px;
}

.top-megabuffer {
  margin-top: 100px;
}

.top-buffer {
  margin-top: 30px;
}

.top-debuffer {
  margin-top: -15px;
}
