<div class="container">
  <footer class="page-footer">
    <img src="../../../assets/IMG/En Temporada (IES FSL)/Stickers/Purple Grape.png" alt="" class="sticker uva">
    <!-- Copyright -->
    <div class="row top-megabuffer">
      <img class="logo" src="../../assets/IMG/titulo.png">
    </div>
    <div class="row top-buffer">
      <div class="col-sm">
        <p>Un proyecto de <b>Gusta</b>
        </p>
      </div>
    </div>
    <div class="row top-debuffer">
      <div class="col-sm-8">
        <p>Basado en datos del Ministerio de Agricultura, Pesca y Alimentación de España</p>
      </div>
      <div class="col-sm-4 links">

        <p><img class="insta" src="../../assets/IMG/iconos/instagram_icon.png"><a
            href="https://www.instagram.com/entemporada_/"><b id="entemp">@entemporada_</b></a> <span
            id="barra">|</span> <a href="#"><b id="contact">Contact</b></a></p>
      </div>
    </div>

  </footer>
</div>
