<div class="header">
  <img src="../../../assets/IMG/tituloW.png" alt="" class="icono">
  <h1>Recetas en temporada</h1>
  <img src="../../../assets/IMG/En Temporada (IES FSL)/Stickers/Orange Wedge.png" alt="" class="sticker gajo">
  <img src="../../../assets/IMG/En Temporada (IES FSL)/Stickers/Classic White.png" alt="" class="sticker white">
  <img src="../../../assets/IMG/En Temporada (IES FSL)/Stickers/Black Orange.png" alt="" class="sticker naranja">
  <img src="../../../assets/IMG/En Temporada (IES FSL)/Stickers/Lemon.png" alt="" class="sticker limon">
  <img src="../../../assets/IMG/En Temporada (IES FSL)/Stickers/Green Peach.png" alt="" class="sticker malacaton">

</div>

<div class="container">
  <div class="elemento">

    <div class="row barra">

      <div class="resultados col-md-6 col-sm-2">
        <p><strong>Resultados encontrados: 102</strong></p>
      </div>

      <div class="col-md-6 col-sm-8 busqueda">
        <div class="search row">
          <div class="col-md-5 col-sm-5  mr-2 campo">
            <input type="text" placeholder="Busqueda...">
            <button class="lupa"></button>
          </div>
          <div class="col-md-6 col-sm-5 filtro">
            <div class="row">
              <div class="col-md-6 col-sm-5">
                <select class="relevancia">
                  <option value="">Relevancia</option>
                  <option value="">Fecha de Subida</option>
                </select>
              </div>
              <div class="col-md-6 col-sm-5">
                <select class="relevancia">
                  <option value="">Desayuno</option>
                  <option value="">Almuerzo</option>
                  <option value="">Comida</option>
                  <option value="">Cena</option>
                  <option value="">Postre</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
