.busqueda {
    > div {
        float: left;
        margin-left: 20px;
    }
    .campo {
        background-color: white;
        border: 1px solid rgba(0, 0, 0, 0.6);
        border-radius: 5px;
        padding-right: 3px;
        * {
            font-family: neueR;
        }

        input {
            background: none;
            border: none;
            height: 100%;
            vertical-align: middle !important;
            outline: none;
            margin-left: 5px;
        }
        .lupa {
            background-size: 80%;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url("../../../assets/IMG/iconos/lupa.png");
            height: 30px;
            width: 30px;
            float: right;
        }
    }
}

.elemento {
    padding-top: 50px;
    width: 80%;
    margin: auto;
    .titulo {
        margin-left: 30px;
        font-family: recoletaB;
    }
}
.barra {
    margin: auto;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 10px 0 10px 0;
    > div {
        margin-left: 20px;
    }
}

.resultados {
    vertical-align: middle;
    font-family: neueR;
}

.relevancia {
    padding: 4px 5px 4px 5px;
    font-family: neueB;
    border-radius: 5px;
    border: 1.5px solid black;
    background-color: transparent;
    * {
        vertical-align: middle !important;
    }
    option {
        font-family: neueR;
    }
}
