<div class="container">
    <div class="elemento">
        <h1 class="titulo">Recetas</h1>
        <div class="row barra">
            <div class="resultados col-md-8 col-sm-2">
                <span>Resultados encontrados: 102</span>
            </div>

            <div class="col-md-4 col-sm-8 busqueda">
                <div class="search row">
                    <div class="col-md-6 campo">
                        <input type="text" placeholder="Busqueda...">
                        <div class="lupa"></div>
                    </div>
                    <div class="col-md-6 filtro">
                        <select class="relevancia">
                            <option value="">Relevancia</option>
                            <option value="">Fecha de Subida</option>
                        </select>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>