.busqueda {
    .campo {
        background-color: white;
        border: 1px solid rgba(59, 59, 59, 0.6);
        border-radius: 5px;
        padding: 5px 5px 0px 5px;
        * {
            font-family: neueR;
        }

        input {
            background: none;
            border: none;
            vertical-align: middle !important;
            outline: none;
            margin: auto;
            width: 80%;
            color: rgba(0, 0, 0, 0.762);
        }
        .lupa {
            background-size: 80%;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url("../../../assets/IMG/iconos/lupa.png");
            height: 30px;
            margin-top: -4px;
            width: 30px;
            float: right;
        }
    }
}

.elemento {
    padding-top: 50px;
    width: 100%;
    margin: auto;
    .titulo {
        font-size: 300%;
        margin-left: 100px;
        font-family: recoletaB;
    }
}
.barra {
    margin: auto;
    margin-left: 30px;
    margin-right: 30px;
    border-top: 1px solid rgba(0, 0, 0, 0.476);
    border-bottom: 1px solid rgba(0, 0, 0, 0.476);
    padding: 10px 0 10px 0;
}

.resultados {
    margin: auto;
    font-family: neueR;
    font-size: 120%;
    span {
        margin-left: 30px;
    }
}

.relevancia {
    margin-top: 2px;
    padding: 4px 5px 4px 5px;
    font-family: neueB;
    border-radius: 5px;
    border: 1.5px solid rgba(59, 59, 59, 0.6);
    background-color: white;
    color: rgba(0, 0, 0, 0.694);
    * {
        vertical-align: middle !important;
    }
    option {
        font-family: neueR;
    }
}
@media screen and(max-width: 700px) {
    .elemento {
        .titulo {
            margin-left: 40px;
        }
    }
    .busqueda {
        .search {
            .campo {
                width: 50%;
                margin-left: 15px;
            }

            > div {
                float: right;
            }
        }
    }
    .barra {
        padding: 10px 0 10px 0;
        .resultados {
            margin-left: 0;
            font-size: 120%;
            span {
                margin-left: 0;
            }
        }
    }
}
