<div class="container">
    <div class="elemento">
        <div class="row barra">
            <div class="resultados col-md-6 col-sm-2">
                <div class="row">
                    <div class="col-md-4">
                        <h1 class="titulo">Recetas</h1>
                    </div>
                    <div class="col-md-6">
                        <p>Resultados encontrados: 102</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-8 busqueda">
                <div class="search row">
                    <div class="col-md-5 col-sm-5  mr-2 campo">
                        <input type="text" placeholder="Busqueda...">
                        <button class="lupa"></button>
                    </div>
                    <div class="col-md-6 col-sm-5 filtro">
                        <div class="row">
                            <div class="col-md-6 col-sm-5">
                                <select class="relevancia">
                                    <option value="">Relevancia</option>
                                    <option value="">Fecha de Subida</option>
                                </select>
                            </div>
                            <div class="col-md-6 col-sm-5">
                                <select class="relevancia">
                                    <option value="">Desayuno</option>
                                    <option value="">Almuerzo</option>
                                    <option value="">Comida</option>
                                    <option value="">Cena</option>
                                    <option value="">Postre</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>