<div class="ventana">
    <div class="campos">
        <label>
            <h3>Nombre de usuario</h3>
            <input type="text" placeholder="Escriba su nombre de usuario...">
        </label>
        <br>
        <br>
        <label>
            <h3>Contraseña</h3>
            <input type="text" placeholder="Escriba su contraseña...">
        </label>
    </div>
    <div class="inferior">
        <label class="radio">
            <input type="checkbox" name="" id="">
            <span>Recuerdame</span>
        </label>
    </div>
</div>

<div class="alinear">
    <button>Iniciar Sesion</button>
</div>