@import "../../../styles.scss";
.ventana {
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: white;
    box-shadow: 0 3px 7px rgba(49, 49, 49, 0.633);
    border-radius: 5px;
    width: 70%;
    padding: 40px 10px 40px 10px;
    border: 1px solid rgba(98, 98, 98, 0.653);
}

.campos {
    width: 70%;
    margin: auto;
    h3 {
        font-family: recoletaB;
        margin: 10px 10px 10px 15px;
    }

    input {
        font-family: neueR;
        width: 90%;
        padding: 5px;
        font-size: 110%;
        border: 1px solid rgba(54, 54, 54, 0.605);
        border-radius: 5px;
        box-shadow: 0 5px 7px rgba(101, 101, 101, 0.326);
        outline: none;
    }
    label {
        width: 100%;
    }
}

.alinear {
    text-align: center;
    button {
        color: white;
        font-family: neueB;
        font-size: 150%;
        border: none;
        background-color: $orange;
        border-radius: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
        width: 50%;
        box-shadow: 0 3px 7px rgba(49, 49, 49, 0.633);
    }
}

.inferior {
    width: 80%;
    margin: auto;
    margin-top: 30px;
    font-family: neueR;
    .radio {
        span {
            margin-left: 10px;
        }
    }
}
