<ng-container *ngIf="usuario; else elseTemplate">
    <app-barra [color]="'green'"></app-barra>
    <app-datos [usuario]="usuario" [rutaUser]="imagen ?? '' " [rutaLogo]="nivel+''" [exp_res]="exp_res">
    </app-datos>
    <div class="inf">
        <div class="container">
            <app-inferior [totalfavoritos]="usuario.totalfavoritos?.total" [totalrecetas]="usuario.totalrecetas?.total"
                [totalguardadas]="usuario.totalguardadas?.total" [totallikes]="usuario.totallikes?.total">
            </app-inferior>
            <app-recetas [usuario]="usuario" [ultimareceta]="ultimareceta" [recetapopular]="recetapopular">
            </app-recetas>
            <app-botonnuevareceta></app-botonnuevareceta>
        </div>
    </div>
</ng-container>
<ng-template #elseTemplate>
    <app-carga></app-carga>
</ng-template>
