.container{
    width: 90%;
}
.rad{

    border: none;
    margin-top: 0%;
    padding-top: -5%;
   

    img{
        border-radius: 10px;
        margin: auto;
        
    }
    h5{
        margin-left: -3%;
        font-family: neueB;  
        font-size: 155%;
        img{
            width: 3em;      
        }
    }
    .derecha{
        width: 2em;
        float: right;
    }
    .derechamg{
        width: 2.4em;
        float: right;
    }
    p{
        font-family: neueB;
    }
   
}
.creador{
    margin-left: 3.9em;
    margin-top: -2em;
}