@import "../../../styles.scss";

.elemento {
    margin: auto;
    margin-bottom: 80px;
    padding-bottom: 30px;
    width: 75%;
    background-color: white;
    border: solid 1px $grey;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(128, 128, 128, 0.408);
    h4 {
        background-color: $grey;
        color: white;
        padding: 10px;
        font-family: "recoletaB";
        text-align: center;
        width: 100%;
        font-size: 200%;
    }
    .row {
        margin: auto;
        width: 90%;
        padding-top: 30px;
        * {
            vertical-align: middle !important;
        }

        .nombre {
            margin-left: 3%;
            font-family: neueB;
        }
        .campo {
            height: 40px;
            width: 90%;
            background: #ffffff;
            box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1), inset 0px 0px 10px rgba(0, 0, 0, 0.299);
            border: 2px solid rgba(0, 0, 0, 0.701);
            border-radius: 5px;
        }

        .icono {
            background-repeat: no-repeat;
            background-size: 80%;
            background-position: center;
            border: none;
            border-right: 2px solid rgba(0, 0, 0, 0.701);
            background-color: $yellow;
            border-radius: 4px;
            user-select: none;
            height: 101%;
            width: 9%;
            margin-left: -0.5px;
            float: left;
            box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.299);
        }

        input {
            font-family: neueR;
            margin-left: 1%;
            height: 100%;
            width: 90%;
            border: none;
            background: none;
            outline: none;
        }
    }
}

.campnombre {
    background-image: url("../../../assets/IMG/iconos/icononombre.png");
}
.apellidos {
    background-image: url("../../../assets/IMG/iconos/icononombre.png");
}

.contra {
    background-image: url("../../../assets/IMG/iconos/localidadicono.png");
}
.repContra {
    background-image: url("../../../assets/IMG/iconos/iconodireccion.png");
}

.boton {
    text-align: center;
    margin-top: -2%;
    margin-bottom: 5%;

    button {
        background-color: $orange;
        color: white;
        font-family: "neueB";
        border: 1px solid black;
        width: 45%;
        text-shadow: 0 4px 10px rgba(0, 0, 0, 0.367);
        margin: auto;
        font-size: 200%;
        border-radius: 10px;
    }
}
