
<div class="container">
    <h4>Datos personales</h4>
    <div class="row">
        <div class="col izq">
            <label>
                Nombre
            </label>
            <br>
            <input id="nombre"type="text" name="texto" placeholder="Escriba su nombre*">
        </div>
        <div class="col der">
            <label>
                Apellidos
            </label>
            <br>
            <input id="apellidos"type="text" name="texto" placeholder="Escriba sus apellidos*">
        </div>
    </div>
    <div class="row">
        <div class="col izq">
            <label>
                Localidad
            </label>
            <br>
            <input id="localidad"type="text" name="texto" placeholder="Escriba su localidad*">
        </div>
        <div class="col der">
            <label>
                Dirección
            </label>
            <br>
            <input id="direccion"type="text" name="texto" placeholder="Escriba su dirección (Calle,Av,...)*">
        </div>
    </div>
</div>
<div class="boton">
    <button>
        Crear cuenta
    </button>
</div>
