<div class="container">
    <div class="elemento">
        <h4>Datos Personales</h4>

        <div class="row">
            <div class="col-md-6 col-sm-12">
                <label class="w-100">
                    <h5 class="nombre">Nombre</h5>
                    <div class="campo">
                        <div class="icono campnombre"></div>
                        <input type="text" name="" id="" placeholder="Ingrese su Nombre *">
                    </div>
                </label>
            </div>
            <div class="col-6">
                <label class="w-100">
                    <h5 class="nombre">Apellidos</h5>
                    <div class="campo">
                        <div class="icono apellidos"></div>
                        <input type="text" name="" id="" placeholder="Ingrese su Apellido*">
                    </div>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <label class="w-100">
                    <h5 class="nombre">Localidad</h5>
                    <div class="campo">
                        <div class="icono contra"></div>
                        <input type="text" name="" id="" placeholder="Ingrese su Localidad*">
                    </div>
                </label>
            </div>
            <div class="col-6">
                <label class="w-100">
                    <h5 class="nombre">Direccion</h5>
                    <div class="campo">
                        <div class="icono repContra"></div>
                        <input type="text" name="" id="" placeholder="Ingrese su Direccion">
                    </div>
                </label>
            </div>
        </div>
    </div>
</div>

<div class="boton">
    <button>
        Crear cuenta
    </button>
</div>