@import "../../../styles.scss";
.row {
  .col {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    text-align: center;
    button {
      width: 14em;
      height: 5em;
      text-align: left;
      h4 {
        font-size: 130%;
      }
    }
  }

  .green {
    background-color: $green;
    color: white;
    border: none;
    border-radius: 10px;
    font-family: neueB;
    padding-left: 1em;
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.374), inset 0 0px 5px rgba(0, 0, 0, 0.374);
    border: 1px solid rgba(0, 0, 0, 0.455);
  }
  .white {
    font-family: neueB;
    cursor: default;
    background-color: white;
    color: black;
    border: 1px solid rgba(0, 0, 0, 0.455);
    border-radius: 10px;
    padding-left: 1em;
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.374), inset 0 0px 5px rgba(0, 0, 0, 0.374);
  }
}
@media screen and(min-width:700px) {
  h4 {
    margin: 0px;
  }
}
@media screen and(max-width:700px) {
  .row {
    .col {
      margin-top: 1.5em;
      margin-bottom: 0em;
      font-size: 90%;
      h4 {
        font-size: 125%;
      }
    }
  }
}
