@import "../../../styles.scss";
.row {
  .col {
    margin: 2em 0 2em 0;
    text-align: center;
    button {
      width: 90%;
      height: 5em;
      text-align: left;
      h4 {
        font-size: 130%;
      }
    }
  }

  .green,
  .white {
    font-family: neueB;
    padding-left: 1em;
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.231), inset 0 0px 5px rgba(0, 0, 0, 0.374);
    border: 1px solid rgba(0, 0, 0, 0.455);
    border-radius: 10px;
  }

  .green {
    background-color: $green;
    color: white;
  }

  .white {
    cursor: default;
    background-color: white;
    color: black;
  }
}

@media screen and(min-width:700px) {
  h4 {
    margin: 0px;
  }
}

@media screen and(max-width:700px) {
  .row {
    .col {
      margin-bottom: 0em;
      font-size: 90%;
      h4 {
        font-size: 125%;
      }
    }
  }
}
