@font-face {
  font-family: "recoletaR";
  src: url("font/Recoleta\ Regular.otf");
}

@font-face {
  font-family: "recoletaB";
  src: url("font/Recoleta\ SemiBold.otf");
}

@font-face {
  font-family: "neueR";
  src: url("font/NeueMontreal-Regular.otf");
}

@font-face {
  font-family: "neueB";
  src: url("font/NeueMontreal-Bold.otf");
}

$orange: #e14f1e;
$green: #175537;
$yellow: #ffd600;
$beige: #fbf6e9;
$greyD: #2e3f34;
$grey: #17231c;

body {
  background-color: $beige;
}

