@font-face {
    font-family: "recoletaR";
    src: url("font/Recoleta\ Regular.otf");
}
@font-face {
    font-family: "recoletaB";
    src: url("font/Recoleta\ SemiBold.otf");
}

@font-face {
    font-family: "neueR";
    src: url("font/NeueMontreal-Regular.otf");
}

@font-face {
    font-family: "neueB";
    src: url("font/NeueMontreal-Bold.otf");
}

body {
<<<<<<< HEAD
  background-color: #FBF6E9;
}

h1 {
  color: aquamarine;
=======
    background-color: #fbf6e9;
>>>>>>> 6ff8b3dab17e1cc2d794cdd1fe4b1c4e25fa09f1
}

