<div class="container top-megabuffer">
    <div class="row">
  
      <div class="card col-sm-6">
        <img class="card-img-top img-rounded" src="../../assets/IMG/entemporada-footer.png" alt="">
        <div class="card-body">
          <h4 class="card-title">Ahora en temporada</h4>
          <p class="card-text">Ver las frutas y verduras que están en temporada este mes</p>
        </div>
      </div>
  
      <div class="card col-sm-6">
        <img class="card-img-top img-rounded" src="../../assets/IMG/calendario.png">
        <div class="card-body carta">
          <h2 class="card-title">Calendario</h2>
          <p class="card-text">Ver cuando todas las frutas y verduras están en temporada</p>
        </div>
      </div>
    </div>
  </div>
  
