<div class="container">
    <div class="fondo">
        <div class="row">
            <div class="col-5">
                <label class="upload">
                    <div class="img"></div>
                    <input type="file" name="" id="">
                </label>

                <div class="nombre">
                    <img src="../../../assets/IMG/iconos/icono.png" alt="">
                    <input type="text" placeholder="Escriba el nombre de su receta...">
                </div>
            </div>

            <div class="col-7">
                <div class="datosfondo row">
                    <div class="col-3">
                        <p>Titulo</p>
                        <div class="campo">
                            <img src="" alt="">
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>