@import "../../../styles.scss";
#enviar,
#img,
.quitar {
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
}

// PARTE IZERDA CON LA FOTO DE CARGAR IMAGEN

.fondo {
    width: 90%;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(118, 118, 118, 0.537);
    border-radius: 5px;
    margin: auto;
    margin-top: 1em;
}

.upload {
    cursor: pointer;
    width: 100%;
    input {
        display: none;
    }

    > #img {
        background-image: url("../../../assets/IMG/iconos/uploadImage.png");
        background-size: 30%;
        border: 1px solid $grey;
        height: 330px;
        width: 100%;
        background-color: white;
        border-radius: 5px;
        box-shadow: inset 0 0 25px rgba(140, 140, 140, 0.837);
    }
}

.nombre {
    * {
        vertical-align: middle;
    }
    img {
        height: 40px;
    }
    input {
        font-family: neueR;
        border-radius: 5px;
        border: 1px solid rgb(88, 88, 88);
        padding: 3px 5px 3px 5px;
        width: 70%;
        box-shadow: inset 0 0px 5px rgba(52, 52, 52, 0.347);
    }
}

// PARTE DERECHA CON FONDO AMARILLO
.datosfondo {
    color: black;
    font-family: neueR;
    margin: auto;
    background-color: $yellow;
    width: 95%;
    height: 100%;
    border-radius: 5px;
    box-shadow: inset 0 0px 5px rgba(0, 0, 0, 0.428);

    .filadatos {
        margin: auto;
        border-bottom: 1px solid rgba(64, 64, 64, 0.551);
    }

    .columna {
        &:not(:last-of-type) {
            border-right: 1px solid rgba(64, 64, 64, 0.551);
        }

        padding: 5px;
        p {
            text-align: center;
            font-family: neueB;
        }
        .campo {
            text-align: center;
            margin-top: -10px;
            margin-bottom: 10px;
            > input,
            select {
                font-family: neueR;
                padding: 3px 0px 3px 5px;
                width: 60%;
                height: 100%;
                border: 1px solid rgba(56, 56, 56, 0.721);
                border-radius: 5px;
                box-shadow: inset 0 0px 5px rgba(52, 52, 52, 0.347);
            }
        }
    }
}

.icono {
    height: 30px;
    margin-right: 5px;
    filter: drop-shadow(0 4px 2px rgba(50, 50, 50, 0.463));
}

.ingredientes {
    padding: 20px;
    h3 {
        color: black;
        font-family: recoletaB;
    }
    .inputTipo {
        * {
            vertical-align: middle !important;
        }
        label {
            margin-top: 10px;
            margin-right: 15px;
            user-select: none;
            > span {
                font-family: neueB;
                margin-left: 4px;
                margin-right: 4px;
            }
        }
        select {
            font-family: neueR;
            text-align: center;
            width: 130px;
            border: 1px solid rgba(56, 56, 56, 0.721);
            border-radius: 5px;
        }
    }

    .columnas {
        height: 150px;
        overflow-y: scroll;
        margin-left: -40px;
        margin-bottom: 10px;
        &::-webkit-scrollbar {
            width: 10px;
        }
        &::-webkit-scrollbar-track {
            border-radius: 10px;
        }
        &::-webkit-scrollbar-thumb {
            background: $grey;
            border-radius: 10px;
        }
    }

    .lista {
        font-family: neueR;
        font-weight: 600;
        font-size: 110%;
        width: 100%;
        .elemento {
            background-color: white;
            border-radius: 5px;
            border-bottom: 1px solid rgba(32, 32, 32, 0.333);
            margin: 5px 0px 5px 0;
            box-shadow: 0 3px 10px rgba(0, 0, 0, 0.299);
            overflow-wrap: break-word;
        }
    }
    span,
    button {
        width: 100%;
        vertical-align: middle !important;
    }
    img {
        width: 30px;
        pointer-events: none;
        user-select: none;
        cursor: pointer;
    }
}

.quitar {
    background-image: url("../../../assets/IMG/iconos/quitar.png");
    background-size: 50%;
    background-color: transparent;
    border: none;
}

.crear {
    border: 1px solid rgba(57, 57, 57, 0.503);
    background-color: white;
    margin: auto;
    width: 90%;
    padding: 10px 0 5px 0;
    border-radius: 10px;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.299);
    > div {
        padding: 0;
    }
    * {
        vertical-align: middle !important;
    }
    label {
        width: 100%;
        padding-left: 15px;
    }
    input {
        font-family: neueR;
        padding: 3px 0px 3px 5px;
        height: 100%;
        border: 1px solid rgba(57, 57, 57, 0.68);
        border-radius: 5px;
        box-shadow: inset 0 0px 3px rgba(0, 0, 0, 0.428);
    }
    span {
        margin-right: 5px;
        font-size: 130%;
        font-family: neueB;
    }

    #ingred {
        width: 60%;
    }

    #cantidad {
        width: 40%;
    }

    #enviar {
        width: 30px;
        height: 30px;
        background-image: url("../../../assets/IMG/iconos/agregar.png");
        background-size: 60%;
        background-color: black;
        border-radius: 100%;
        border: none;
    }
}
