<div class="container">
    <div class="fondo">
        <div class="row">
            <div class="col-4">
                <label class="upload">
                    <div class="img"></div>
                    <input type="file" name="" id="">
                </label>

                <div class="nombre">
                    <img src="../../../assets/IMG/iconos/icono.png" alt="">
                    <input type="text" placeholder="Escriba el nombre de su receta...">
                </div>
            </div>

            <div class="col-8">
                <div class="datosfondo">
                    <div class="row filadatos">
                        <div class="columna col-3">
                            <p class="mt-2">Nº de Comensales</p>
                            <div class="campo">
                                <img class="icono" src="../../../assets/IMG/iconos/grupo.png" alt="">
                                <input type="text" name="" id="">
                            </div>
                        </div>
                        <div class="columna col-2">
                            <p class="mt-2">Tiempo</p>
                            <div class="campo">
                                <img class="icono" src="../../../assets/IMG/iconos/tiempo.png" alt="">
                                <input type="text" name="" id="">
                            </div>
                        </div>
                        <div class="columna col-3">
                            <p class="mt-2">Tipo de plato</p>
                            <div class="campo">
                                <img class="icono" src="../../../assets/IMG/iconos/tipo.png" alt="">
                                <select name="" id="">
                                    <option selected>...</option>
                                </select>
                            </div>
                        </div>
                        <div class="columna col-4">
                            <p class="mt-2">Dificultad del plato</p>
                            <div class="campo">
                                <img class="icono" src="../../../assets/IMG/iconos/dificultad.png" alt="">
                                <select name="" id="">
                                    <option selected>...</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <!-- INGREDIENTES -->
                    <div class="ingredientes">
                        <div class="row">
                            <div class="col-6">
                                <h2>Ingrediente Principal:</h2>
                            </div>
                            <div class="col-6">
                                <label>
                                    <input type="radio" name="tipo">
                                    <span>Fruta</span>
                                </label>
                                <label>
                                    <input type="radio" name="tipo">
                                    <span>Verdura</span>
                                </label>

                                <select>
                                    <option selected>...</option>
                                </select>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-12">
                                <h2>Ingredientes:</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <!-- LISTA DE INGREDIENTES -->
                                <ul class="lista">
                                    <div class="row">
                                        <div class="colu col-10">
                                            <li>4 Manzanas </li>
                                        </div>
                                        <div class="colu col-2">
                                            <img src="../../../assets/IMG/iconos/quitar.png">
                                        </div>
                                    </div>


                                </ul>
                            </div>
                            <div class="col-6">
                                <ul class="lista">
                                    <li>4 Maracatones <img src="../../../assets/IMG/iconos/quitar.png"></li>
                                    <li>200g de sal <img src="../../../assets/IMG/iconos/quitar.png"></li>
                                    <li>Macarrones con queso <img src="../../../assets/IMG/iconos/quitar.png"></li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>



    </div>
</div>