@import "../../../styles.scss";

// PARTE IZQUIERDA CON LA FOTO DE CARGAR IMAGEN
.fondo {
    width: 90%;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(118, 118, 118, 0.537);
    border-radius: 5px;
    margin: auto;
    margin-top: 1em;
}

.upload {
    width: 100%;
    input {
        display: none;
    }

    > .img {
        background-image: url("../../../assets/IMG/iconos/uploadImage.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 30%;
        border: 1px solid rgb(91, 91, 91);
        height: 270px;
        width: 100%;
        background-color: white;
        border-radius: 5px;
        box-shadow: inset 0 0 25px rgba(99, 99, 99, 0.837);
    }
}

.nombre {
    * {
        vertical-align: middle;
    }
    img {
        height: 40px;
    }
    input {
        border-radius: 5px;
        border: 1px solid rgb(88, 88, 88);
        padding: 3px 5px 3px 5px;
        width: 70%;
        box-shadow: inset 0 0px 5px rgba(0, 0, 0, 0.428);
    }
}

// PARTE DERECHA CON FONDO AMARILLO
.datosfondo {
    color: black;
    font-family: neueR;
    margin: auto;
    background-color: $yellow;
    width: 95%;
    height: 100%;
    border-radius: 5px;
    box-shadow: inset 0 0px 5px rgba(0, 0, 0, 0.428);

    .filadatos {
        margin: auto;
        border-bottom: 1px solid rgba(64, 64, 64, 0.551);
    }

    .columna {
        &:not(:last-of-type) {
            border-right: 1px solid rgba(64, 64, 64, 0.551);
        }

        padding: 5px;
        p {
            text-align: center;
            font-family: neueB;
        }
        .campo {
            text-align: center;
            margin-top: -10px;
            margin-bottom: 10px;
            > input,
            select {
                padding: 3px 0px 3px 5px;
                width: 60%;
                height: 100%;
                border: 1px solid black;
                border-radius: 5px;
                box-shadow: inset 0 0px 3px rgba(0, 0, 0, 0.428);
            }
        }
    }
}
select {
    text-align: center;
}

.icono {
    height: 30px;
    margin-right: 5px;
    filter: drop-shadow(0 4px 5px rgba(96, 96, 96, 0.578));
}

.ingredientes {
    padding: 40px;
    h2 {
        color: black;
        font-family: recoletaB;
    }
    label {
        margin-top: 10px;
        margin-right: 10px;
    }
    select {
        margin-left: 10%;
        width: 150px;
        border: 1px solid black;
        border-radius: 5px;
        box-shadow: inset 0 0px 3px rgba(0, 0, 0, 0.428);
    }

    .lista {
        font-family: neueR;
        font-weight: 600;
        font-size: 140%;
        width: 80%;
    }
    li {
        margin-top: 5px;
        text-shadow: 0 3px 10px rgba(0, 0, 0, 0.299);
        width: 100%;
    }
    img {
        width: 30px;
        pointer-events: none;
        user-select: none;
        cursor: pointer;
    }
    .colu {
        border: 1px solid red;
    }
}
