<div class="container">
    <div class="row">
        <div class="col-lg-5 col-md-12">
            <label class="upload">
                <div id="img"></div>
                <input type="file" (change)="visualizar($event)" name="" id="inputIMG">
            </label>

            <div class="nombre">
                <img class="mr-2" src="../../../assets/IMG/iconos/icono.png" alt="">
                <input [(ngModel)]="titulo" type="text" placeholder="Escriba el nombre de su receta...">
            </div>
        </div>

        <!-- DATOS E INGREDIENTES DE LA RECETA -->
        <div class="col-lg-7  col-md-12">
            <div class="datosfondo">
                <div class="row filadatos">
                    <div class="columna col-3">
                        <p class="mt-2">Nº de Comensales</p>
                        <div class="campo">
                            <img class="icono" draggable="false" src="../../../assets/IMG/iconos/grupo.png" alt="">
                            <input [(ngModel)]="comensales" type="number" min="0" data-error="buenos dias" id="">
                        </div>
                        <div class="error">
                            <sub *ngIf="errores?.comensales">{{errores?.comensales}}</sub>
                        </div>
                    </div>
                    <div class="columna col-2">
                        <p class="mt-2">Tiempo</p>
                        <div class="campo">
                            <img class="icono" draggable="false" src="../../../assets/IMG/iconos/tiempo.png" alt="">
                            <input [(ngModel)]="tiempo" type="text" name="" id="">
                        </div>
                        <div class="error">
                            <sub *ngIf="errores?.tiempo">{{errores?.tiempo}}</sub>
                        </div>
                    </div>
                    <div class="columna col-3">
                        <p class="mt-2">Tipo de plato</p>
                        <div class="campo">
                            <img class="icono" draggable="false" src="../../../assets/IMG/iconos/tipo.png" alt="">
                            <select [(ngModel)]="tipo" id="">
                                <option selected>...</option>
                                <option name="desayuno" value="Desayuno">Desayuno</option>
                                <option name="almuerzo" value="Almuerzo">Almuerzo</option>
                                <option name="comida" value="Comida">Comida</option>
                                <option name="cena" value="Cena">Cena</option>
                                <option name="postre" value="Postre">Postre</option>
                            </select>
                        </div>
                        <div class="error">
                            <sub *ngIf="errores?.tipo">{{errores?.tipo}}</sub>
                        </div>
                    </div>
                    <div class="columna col-4">
                        <p class="mt-2">Dificultad del plato</p>
                        <div class="campo">
                            <img class="icono" draggable="false" src="../../../assets/IMG/iconos/dificultad.png" alt="">
                            <select [(ngModel)]="dificultad" id="">
                                <option selected>...</option>
                                <option name="facil" value="Fácil">Fácil</option>
                                <option name="intermedio" value="Intermedio">Intermedio</option>
                                <option name="dificil" value="Difícil">Difícil</option>
                            </select>
                        </div>
                        <div class="error">
                            <sub *ngIf="errores?.dificultad">{{errores?.dificultad}}</sub>
                        </div>
                    </div>
                </div>

                <!-- INGREDIENTES -->
                <div class="ingredientes">
                    <div class="row">
                        <div class="col-md-12 col-sm-8">
                            <h3>Ingrediente Principal:</h3>
                            <div class="error">
                                <sub *ngIf="true">Debe elegir un producto principal</sub>
                            </div>
                        </div>
                        <div class="row col-md-12 col-sm-4 inputTipo">
                            <div class="col-5">
                                <label class="campo">
                                    <span> Cantidad:</span>
                                    <input id="cantidad" min=1 type="text" [(ngModel)]="cantidadPrinc" name="">
                                </label>

                            </div>
                            <div class="col-7">
                                <label (click)="selectTipo('F')">
                                    <input type="radio" name="tipo">
                                    <span>Fruta</span>
                                </label>
                                <label (click)="selectTipo('V')">
                                    <input type="radio" name="tipo">
                                    <span>Verdura</span>
                                </label>

                                <select [(ngModel)]="prodPrinc" class="desplegable">
                                    <option selected="true">{{default}}</option>
                                    <optgroup label="En Temporada" *ngIf="tipoActualT && tipoActualT.length>0">
                                        <option *ngFor="let tipo of tipoActualT" value="{{tipo.nombre}}">
                                            {{tipo.nombre}}
                                        </option>
                                    </optgroup>

                                    <optgroup *ngIf="tipoActualT"></optgroup>

                                    <optgroup label="Fuera de Temporada" *ngIf="tipoActualN && tipoActualN.length>0">
                                        <option *ngFor="let tipo of tipoActualN" value="{{tipo.nombre}}">
                                            {{tipo.nombre}}
                                        </option>
                                    </optgroup>
                                </select>
                            </div>
                        </div>


                    </div>
                    <br>
                    <div class="row">
                        <div class="col-12">
                            <h3>Ingredientes:</h3>
                        </div>
                    </div>
                    <div class="row columnas">
                        <div class="col-6">
                            <!-- LISTA DE LA PRIMERA MITAD DE LOS INGREDIENTES -->
                            <ul class="lista">
                                <div class="row elemento" *ngFor="let ingrediente of ingredientes[0];let i=index">
                                    <div class="col-10">
                                        <span>{{ingrediente}} </span>
                                    </div>
                                    <button (click)="quitarIngrediente(0,i)" class="quitar col-2"></button>
                                </div>
                            </ul>
                        </div>
                        <div class="col-6">
                            <!-- LISTA DE LA SEGUNDA MITAD DE LOS INGREDIENTES -->
                            <ul class="lista">
                                <div class="row elemento" *ngFor="let ingrediente of ingredientes[1];let i=index">
                                    <div class="col-10 ">
                                        <span>{{ingrediente}}</span>
                                    </div>
                                    <button (click)="quitarIngrediente(1,i)" class="quitar col-2"></button>
                                </div>
                            </ul>
                        </div>
                    </div>

                    <div class="row crear">
                        <div class="col-7">
                            <label>
                                <span> Ingrediente:</span>
                                <input id="ingred" type="text" [(ngModel)]="ingred" name="">
                            </label>
                        </div>
                        <div class="col-4">
                            <label>
                                <span> Cantidad:</span>
                                <input id="cantidad" min=1 type="text" [(ngModel)]="cantidad" name="">
                            </label>
                        </div>
                        <div class="col-1">
                            <button id=enviar (click)="crearIngrediente()"></button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<div class="containerpasos">
    <div class="pasos" *ngFor="let paso of pasos; let i=index">
        <img class="quitar" (click)="quitarPaso(i)" src="../../../assets/IMG/iconos/quitar.png" alt="">
        <h2 class="numPaso">Paso {{i+1}}</h2>
        <label class="titulo">
            <span>Descripción del paso</span>
            <br>
            <textarea class="descripcion" value="{{paso}}" placeholder="Escriba aquí..."></textarea>
        </label>
    </div>
    <div class="fondo">
        <h2 class="numPaso">Paso {{getNumeroPaso()}}</h2>
        <label class="titulo">
            <span>Descripción del paso</span>
            <br>
            <textarea id="descripcion" [(ngModel)]="descripcion" placeholder="Escriba aquí..."></textarea>
        </label>
    </div>


    <div class="alinear">
        <button (click)="agregarPaso()" class="agregar">
            <img src="../../../assets/IMG/iconos/añadir.png" alt="">
            <p>Añadir Paso</p>
        </button>
    </div>
</div>


<div class="row gestionReceta">
    <div class="col-6">
        <button (click)="crearReceta()" class="crear">Crear</button>
    </div>
    <div class="col-6">
        <button [routerLink]="['/recetas']" class="cancelar">Cancelar</button>
    </div>
</div>