<div class="container-fluid bloqueporque p-5">
    <div class="container bloqueporque2">
        <div class="row">
            <div class="col">
                <h1>
                    ¿Por qué comer <br>alimentos de temporada?
                </h1>
                <br>
                <p>Es fácil encontrar todo tipo de frutas y verduras en cualquier momento del año. Pero, para elegir las opciones más sostenibles, es 
                    recomendable comer productos locales y de temporada. Estas son las razones a tener en cuenta durante tu próxima compra.
                </p>
            </div>
        </div>
       
    </div>
 
</div>
<div class="container-fluid bloquemotivos" >
    <div class="row">
        <div class="col">
        <img id="mejorsabor" src="../../../assets/IMG/mejorsabor.png">
        </div>
        <div class="col fresco">
            <h2>Mejor sabor <br>y más fresco</h2>
            <p>By respecting its natural cycle, you get rewarded with fruit and vegetables that are packed with flavor. 
                An apple that was freshly picked from the field yesterday 
                will taste much better than one that was picked last week and imported from far away. Not only do they taste better, fresher food lasts longer too.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col impacto">
            <h2>
                Menor impacto<br> ambiental
            </h2>
            <p>
                There’s a bigger carbon footprint behind your groceries if it travelled half the world before 
                it ends up in your fridge. Seasonal fruit and vegetables that come from a field near you 
                contribute to the sustainability 
                of the food system by reducing energy consumption and generating less carbon dioxide emissions.
            </p>
        </div>
        <div class="col">
            <img id="impactoambiental" src="../../../assets/IMG/impactoambiental.png">

        </div>
    </div>
    <div class="row">
        <div class="col">
        <img id="comunidad" src="../../../assets/IMG/comunidad.png">
        </div>
        <div class="col comunidad">
            <h2>Apoya a tu <br>comunidad local</h2>
            <p>By buying food grown in your area,  you are contributing to local businesses and supporting your community. Since your fresh food moves through fewer steps, more of the money you spend tends to get to the people growing it. To make the biggest local economic impact, 
                seek for producers who pay their workers a fair wage and practice social justice in their business.
            </p>
        </div>
    </div>
</div>

