<div class="container-fluid bloquemotivos p-5">
    <div class="container">
        <div class="row">
            <div class="col">
            <h1>
                ¿Por qué comer <br>alimentos de temporada?
            </h1>
            <br>
            
                <p>Es fácil encontrar todo tipo de frutas y verduras en cualquier momento del año. Pero, para elegir las opciones más sostenibles, es 
                    recomendable comer productos locales y de temporada. Estas son las razones a tener en cuenta durante tu próxima compra.
                </p>
            </div>
        </div>
    </div>
</div>

