
.bloquemotivos{
text-align: center;
    .container{
        width: 60%;
        p{
            font-size: 175%;
            font-family: recoletaR;
            text-align: center;
        }
        h1{
            font-weight: bolder;
            font-family: recoletaB;
            font-size: 275%;

        }
    }
    
}
