<div class="container-fluid bloqueporque p-5">
    <div class="container bloqueporque2">
        <div class="row">
            <div class="col">
                <h1>
                    ¿Por qué comer <br>alimentos de temporada?
                </h1>
                <br>
                <p>Es fácil encontrar todo tipo de frutas y verduras en cualquier momento del año. Pero, para elegir las opciones más sostenibles, es 
                    recomendable comer productos locales y de temporada. Estas son las razones a tener en cuenta durante tu próxima compra.
                </p>
            </div>
        </div>
       
    </div>
 
</div>
<div class="container-fluid bloquemotivos" >
<div class="row">
    <div class="col">
      <img id="mejorsabor" src="../../../assets/IMG/mejorsabor.png">
    </div>
    <div class="col fresco">
        <h2>Mejor sabor <br>y más fresco</h2>
        <p>By respecting its natural cycle, you get rewarded with fruit and vegetables that are packed with flavor. 
            An apple that was freshly picked from the field yesterday 
            will taste much better than one that was picked last week and imported from far away. Not only do they taste better, fresher food lasts longer too.
        </p>
    </div>
</div>
<div class="row">
    <div class="col">

    </div>
    <div class="col">
        <img id="mejorsabor" src="../../../assets/IMG/mejorsabor.png">

    </div>
</div>
</div>

