<div class="container w-75 info">
<div class="row">
    <div class="col col-md-2 col-sm-1 foto">
    <img class="usuario" src="../../../assets/IMG/iconos/icononombreuser.png">
    </div>
    <div class="col col-md-6 col-sm-7 datos">
    <p class="user">Nombre de Usuario</p>
    <h4>Informacion del usuario: </h4>
    <p class="infouser">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
    </div>
    <div class="col col-md-3 col-sm-4 derecha">
        <div class="container chef">
            <p>Nivel <br> CHEF</p>
            <div class="nivel">
                <img src="../../../assets/IMG/iconos/gorro.png">
            </div>
        </div>
    </div>
</div>