<div class="container info">
  <div class="row">

    <div class="col-md-2 col-sm-1 foto">
      <div class="usuario"></div>
    </div>


    <div class="col-md-5 col-sm-7 datos">
      <h2 class="user">Cecilio G</h2>
      <h4>Informacion del usuario: </h4>
      <p class="infouser">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
        aliquip ex ea commodo consequat. </p>
    </div>


    <div class="col-md-4 col-sm-4 derecha">
      <div class="chef row">
        <div class="col-md-6">
          <h4>Nivel: CHEF</h4>
        </div>
        <div class=" col-md-6">
          <div class="nivel">
            <img src="../../../assets/IMG/iconos/rata.png">
          </div>
        </div>
        <button class="col-12 modificar">Modificar Perfil</button>
      </div>
    </div>
  </div>