<div class="info">
  <div class="container">
    <div class="row">

      <div class="col-lg-3 col-md-1 foto">
        <div [ngStyle]="{'background-image': 'url(/assets/IMG/Usuarios/' + rutaUser + ')'}" class="usuario"></div>
        <div [ngStyle]="{'background-image': 'url(/assets/IMG/Niveles/lvl_' + rutaLogo + '-removebg-preview.png)'}"
          class="b_usuario"></div>
      </div>


      <div class="col-lg-5 col-md-7 datos">
        <h2 class="user">{{usuario.nick}}</h2>
        <h4>Informacion del usuario: </h4>
        <p class="infouser">{{usuario.descripcion}}</p>
      </div>


      <div class="col-lg-4 col-md-4 derecha">
        <div class="chef row">
          <div class="col-lg-12">
            <h4>Nivel de chef</h4>
          </div>
          <div class=" col-lg-12">
            <div class="progress">
              <div class="progress-bar   progress-bar-striped progress-bar-animated active" role="progressbar"
                aria-valuenow="exp_res" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'width.%': exp_res}"></div>
            </div>
          </div>
          <div class="col-12">
            <button [routerLink]="'/modperfil'" class="modificar">Modificar Perfil</button>
          </div>
        </div>
      </div>
    </div>
  </div>