@import "/src/styles.scss";
.boton {
    button {
        border: none;
        color: white;
        width: 7.5%;
        padding: 10px 5px 5px 5px;
        background-color: $orange;
        border:black 1px solid;
        border-radius: 20px;

    }
    img {
        height: 60px;
        margin-bottom: 5px;
    }
}
